/* Elements */
* {margin:0; padding:0;}
HTML {height:100%;}
BODY {height:100%; background:#fff; color:#000; font:15px 'Helvetica Neue', Helvetica, Arial, sans-serif; min-width:1200px;}
TABLE {border-spacing:0; border-collapse:collapse;}
TD,TH {vertical-align:top; text-align:left;}
IMG,FIELDSET {border:none;}
IMG {max-width:100%; height:auto;vertical-align: bottom;}
A {text-decoration:none; color:#0173c1;}
A:hover {color:#013e83;}
P {line-height:1.5em;}
UL, LI {list-style-type:none;}
EM {font-style:normal;}

/* Fonts */
@font-face {
    font-family: 'etelka_mediumregular';
    src: url('../fonts/etelkamedium-webfont.eot');
    src: url('../fonts/etelkamedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/etelkamedium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'etelka_thinregular';
    src: url('../fonts/etelkathin-webfont.eot');
    src: url('../fonts/etelkathin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/etelkathin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon-epga';
  src:url('../fonts/icomoon-epga.eot?-za0wj4');
  src:url('../fonts/icomoon-epga.eot?#iefix-za0wj4') format('embedded-opentype'),
    url('../fonts/icomoon-epga.woff?-za0wj4') format('woff'),
    url('../fonts/icomoon-epga.ttf?-za0wj4') format('truetype'),
    url('../fonts/icomoon-epga.svg?-za0wj4#icomoon-epga') format('svg');
  font-weight: normal;
}
@font-face {
    font-family: 'als_rublregular';
    src: url('../fonts/rouble-webfont.eot');
    src: url('../fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rouble-webfont.woff') format('woff'),
         url('../fonts/rouble-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icomoon{
  font-family: 'icomoon-epga';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

SPAN.icomoon{
    display:inline-block;
    vertical-align:middle;
}

/*Iterant class*/

.clear:after {
  content:' ';
  display:block;
  clear:both;
}

.fr {float:right;}
.fl {float:left;}

.rouble {
    font-family: 'als_rublregular';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pseudo {
  color:#0173c1;
  border-bottom:1px dashed #0173c1;
  cursor:pointer;
}

.pseudo:hover {
  color:#013e83;
  border-color:#013e83;
}

.l_100 {width:100%;}
.l_83 {width:83.33333%;}
.l_75 {width:75%;}
.l_66 {width:66.66666%;}
.l_50 {width:50%;}
.l_33 {width:33.33333%;}
.l_25 {width:25%;}
.l_16 {width:16.66666%;}

.bg_c0 {background:#ffffff;}
.bg_c1 {background:#f9bdbc;}
.bg_c2 {background:#cfd8dc;}
.bg_c3 {background:#cad8e7;}
.bg_c4 {background:#e6ee9c;}
.bg_c5 {background:#e6ebec;}
.bg_c6 {background:#f6f6f6;}
.bg_c7 {background:#7a96ab;}


.list {
  padding: 0 0 8px 0;
}

.list LI {
  margin:0 0 20px 24px;
  list-style-type:disc;
  font-size: 16px;
  line-height: 20px;
  color: #535B63;
}

/* Popup */ 
#popup_fade {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:102;
  background: url('../img/pattern.png');  
}

.popup {
  width:870px;
  max-height:100%;
  display:none;
  position:fixed;
  top:100px;
  left:50%;
  margin:0 0 0 -435px;
  z-index:103;
  background:#fff;
  padding:40px;
  text-align:center;
  border-radius:4px;
    
}

.popup .close_popup_x {
  display:inline-block;
  width:43px;
  height:43px;
  position:absolute;
  right:25px;
  top:25px;
  cursor:pointer; 
  background: url('../img/ico_close.png') 0 0 no-repeat;      
}
.popup .close_popup_x:before{
    content: 'L';
    font: 17px 'icomoon-epga';
    color: #565656;
    display: inline-block;
    vertical-align: middle;
    line-height: 43px;
    width: 43px;
    border: 1px solid #C8C7CC;
    border-radius: 22px;
    background-color: #fff;
    transition: background-color .25s;
}

.popup .close_popup_x:hover:before {
  background-color: #f5f5f5;
}

.popup .close_popup_x:active:before {
  background-color: #e0e0e0;
}

.popup H2 {
  font:40px 'etelka_thinregular';
  margin:8px 0 25px 0; 
}

.popup H3 {
  margin:0 0 0.5em 0;
}

.popup P {
  margin:0 0 0.5em 0;
  font-size:17px;
}

.popup .btn,
.popup IMG {
  margin:30px 0 0 0;
}



.popup_technical .list,
.popup_technical H3{
  text-align: left;
}

.popup_technical .list_wrap{
  padding: 30px 10px 25px 20px;
  margin-top: 26px;
  border: 1px solid #CDD1D4;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:    0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow:         0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  height: 396px;
}


/* Blocks */

#wrap {
  display:table;
  width:100%;
  height:100%;
  position:relative;
}

.cover {
  margin:0 0 60px 0;
}

#header {
  z-index: 1;
  position: relative;
}

#header .top {
  background:#fff;
}

#header .nav {
  width:1180px;
  margin:0 auto;  
  position:relative;
}

#header .nav LI {
  height:74px;
  float:left; 
}

#header LI.col_1 {
  width:257px;
}

#header LI.col_2 {
  width:670px;
}

#header LI.col_3 {
float: right;
}
#header .logo{
    margin:7px 0 0 0;
    display: inline-block;
}
#header .logo SVG{
    width: 222px;
    height: 50px;
}



#header .catalog_btn {
  position:relative;
  margin:15px 0 0 0;
  display:inline-block;
  border-radius:3px;
  border:1px solid #d0d0d0;
  color:#56575c;
  padding:12px 18px 12px 20px; 
  cursor:pointer;
  font-size:14px;
     
}
#header .catalog_btn I.icomoon {
    font-size: 10px;
    font-weight: 800;
    margin-right: 10px;
}
#header .catalog_btn{
    transition: background-color .2s;
    -webkit-transition: background-color .2s;
       
}
#header .catalog_btn:hover{
  background-color:#f5f5f5;
}

#header .catalog_btn:active {
  background-color:#e0e0e0;
}

#menu_btn {
    position: absolute;
    overflow:hidden;
  height:4em;
    right:0;
    top:5px;
    padding: 0px 20px;
    background: white;
    border-radius: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index:98;
  width:250px;
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
       
}

#menu_btn .exit {
    position: relative;
    margin:0;
    display: inline-block;
    padding: 26px 12px 26px 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    z-index: 100;
    background:#fff;
}


#menu_btn .submenu {
  padding:20px 0;
}

#menu_btn .submenu LI {
    display:block;
  float:none;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0px 14px;
    padding-left:28px;
    background-repeat: no-repeat; 
}

#menu_btn.opened {  border: 1px solid #CDD1D4; height:auto;}
#menu_btn.closed {  border: 1px solid #fff;}
#menu_btn.opened .exit {background: url('../img/header_arrow_up.png') 100% 50% no-repeat #fff; border-bottom: 1px solid #ddd;}
#menu_btn.closed .exit {background: url('../img/header_arrow_down.png') 100% 50% no-repeat #fff; border-bottom: 1px solid #fff;}
#menu_btn.closed .submenu {top: -120px;}
#menu_btn.opened .submenu {top: 0px;}

#menu_btn .submenu LI A{
    position: relative;
    display: block;
}
#menu_btn .submenu .icomoon{
    position: absolute;
    top: -5px;
    right: 100%;
    transition: background-color .25s
}
#menu_btn .submenu .ico_lk .icomoon{
    font-size: 25px;
    margin-right: 4px;
}
#menu_btn .submenu .ico_contact .icomoon{
    font-size: 25px;
    margin-right: 6px;
}
#menu_btn .submenu .ico_exit .icomoon{
    font-size: 25px;
    margin-right: 7px;
}

#header .bottom {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;     
    background-color: #f6f6f6;
       
}

#header .bottom.type_1{
    border-bottom: 4px solid #277CB1;
}
#header .bottom.type_2{
    border-bottom: 4px solid #892781; 
}
#header .bottom.type_3{
    border-bottom: 4px solid #C41E51; 
}
#header .bottom.type_4{
    border-bottom: 4px solid #57c5cc; 
}
#header .bottom.type_non{
    border-bottom: 1px solid #e1e1e1; 
}

#header .breadcrumbs {
  width:1180px;
  margin:0 auto;
  overflow:hidden;       
}

#header .breadcrumbs LI {
  display:inline-block;
  vertical-align: bottom;
} 
#header .breadcrumbs LI:after{
    content: 'I';
    font: 43px 'icomoon-epga';
    color: #DFDFDF;
    vertical-align: bottom;
}
#header .breadcrumbs LI.last:after{
    content: '';
}

#header .breadcrumbs LI.last {
  background:none;         
}

#header .breadcrumbs LI A,
#header .breadcrumbs LI SPAN {
  display:inline-block;
  height:45px;
  line-height:45px;
  padding:0 30px 0 15px;    
  position:relative;
  font-size:12px;       
}
#header .breadcrumbs LI SPAN.icomoon{
    font-size: 20px;
    padding-right: 10px;
    padding-left: 0;
    color: #565656;
}
#header .breadcrumbs LI A {
  color:#485158;      
}

#header .breadcrumbs LI SPAN {
  color:#999;     
}

#header .breadcrumbs .first A {
  padding:0 30px 0 30px;   
}

#header .breadcrumbs .first IMG {
  position:absolute;
  display:block; 
  width:14px;
  height:13px;
  left:0px;
  top:15px;   
  line-height:0; 
}

/**/

#content {
  width:900px;
  padding:0 280px 0 0;
  position:relative;
  margin:0 auto;  
}

#content .title {
  width: 1080px;
  height:76px;
  display:table;
  vertical-align:middle;
  margin:41px -255px 0px 0;
  padding:0 0 40px 100px;
  border-bottom:1px solid #dbe2e6;
}

#content .title IMG,
#content .title SPAN.icomoon {
    position:absolute;
    display:block;
    left:0px;
    top:0px;
    font-size: 76px;
}
    #content .title SPAN.icomoon.color_1 {
        color: #277CB1;
    }
    #content .title SPAN.icomoon.color_2 {
        color: #892781;
    }
    #content .title SPAN.icomoon.color_3 {
        color: #C41E51;
    }

#content .title H1 {
  font:40px 'etelka_thinregular';
  margin:0.35em 0 0 0;
}

#content .title H2 {
  font:20px 'etelka_thinregular';
  margin:0.1em 0 0 0;  
}

#content .info_column {
  width:260px;
  position:absolute;
  right:-280px;
  top:40px;   
}

#content .info_block {
  padding:25px 20px;
  position:relative;
  margin:0 0 20px 0; 
  border:1px solid #dbe2e6;    
}
#content .info_block.type_1,
#content .info_block.type_2{
  padding: 19px 20px 19px 53px;
  border-top: none;
}

#content .info_block.type_1 {
  box-shadow: 0px 6px 0px 0px #EE3F58 inset;
  border-top: none; 
       
}
#content .info_block.type_2{
  box-shadow: 0px 6px 0px 0px #FEC202 inset;      
  border-top: none;
}
#content .info_block.type_3{
  padding: 19px 20px;
  box-shadow: 0px 6px 0px 0px #e4e4e4 inset;      
  border-top: none;
}
#content .info_block.type_no-ico p:first-child{
  margin-top: 0;
}
#content .info_block.type_no-ico p{
  margin-top: 20px;
}
.info_block .icomoon{
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 30px;
}
.info_block.type_1 .icomoon {
    color: #EE3F58;
}
.info_block.type_2 .icomoon {
    color: #FFC200;
}

#content .info_block H4 {
  margin:0 0 1em 0;
  border:none;    
}

#content .info_block P {
  font-size:14px;  
}

#content .info_block .add_pad {
  margin:0.8em 0 2em 0;    
}

.main .q {
  display:inline-block;
  position:relative;
  width:21px;
  height:21px;
  border:1px solid #d0d0d0;
  border-radius:12px;
  top:-2px;
  text-align:center;
  background:#fff;
  font:bold 12px/22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  cursor:pointer;
  z-index:100; 
  margin-left: 6px;
  transition: background-color .25s;
  -webkit-transition: background-color .25s;
     
}

.main .q:hover,
.main .q:focus {
  background-color:#f5f5f5;
}

.main .q .q_hover{
  position:absolute;
  top:-17px;
  left:43px;
  line-height:1em;
  padding:20px;
  display:none;
  min-width:195px;
  text-align:left;  
  z-index: 101;
}

.main .q .q_hover:before {
  position:absolute;
  display:block;
  content:'';
  left:-10px;
  top:20px;
  width:20px;
  height:20px;
  background: url('../img/corners_cloud_2.png') 0 0 no-repeat;    
}

.main .q:hover .q_hover {
  display:block;
}

#content .q H4 {
  font:bold 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin:0;
  border:none;
}

#content .q P {
  font:12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin:0 0 1em 0;
}

#content .main {
  display:block;
}

.main FIELDSET {
  position:relative;
  display:block;
  padding:40px 10px 25px 65px;
  background:#fff;
  /*margin:0 0 40px 0;*/
  border-bottom:1px solid #dbe2e6;    
}

.main FIELDSET:last-of-type {
  border:none;
}

.main FIELDSET H3 {
  margin:20px 0 40px 0;
  font:18px 'etelka_mediumregular';   
}

.main FIELDSET H3 A {
  font: 75%/21px 'Helvetica Neue', Helvetica, Arial, sans-serif;   
}

.main FIELDSET .clear .fr {
  padding:0 20px 0 0;  
}

.placeholder_small {
  position:absolute;
  top:3px;
  left:22px;
  font-size:70%;
  color:#777;
  z-index:101;
}

.wrapper {
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  padding:0 20px 0 0;
  display:inline-block;
  position:relative; 
  margin:0 0 30px 0; 
     
}

.wrapper.skew {
  padding:0 20px 0 20px;
}

.wrapper.skew LABEL {
  display:inline-block;
}

.wrapper.skew .jq-checkbox,
.wrapper.skew .jq-radio {
  position:absolute!important;
  left:0;
  top:0;  
}

.wrapper .not {
  position:absolute;
  font:80% 'Arial';
  color:#485158;
  right:20px;
  bottom:-20px;
}

#content .wrapper + H3 {
  margin:10px 0 30px 0;
}

.point_num {
  display:block;
  position:absolute;
  text-align:center;
  left:0px;
  font:40px 'etelka_thinregular';  
}

#content .point_num IMG {
  position:absolute;
  left:3px;
  top:0;
  height:38px;
  width:40px;  
}

.passport #content .group_1 {
  overflow:hidden;
}

.pre {
  margin:0 20px 0 0;
}

#content .col_top{
  margin-bottom: 32px;
}

#content .col_left {
  width:450px;
  float:left;
}

#content .col_right {
  width:374px;
  float:right;
}

.load_photo {
  background:#e4f6ff;
  padding:10px 32px 18px;
  margin:0 20px 0 0;
  position:relative;
  text-align:left;
}

.load_photo .photo_brd {
  width:180px;
  height: 236px;
  background: #e4f6ff url('../pic/svg/5.svg') bottom center no-repeat;
  border:7px solid #c1d7e6;
  line-height:0;
  margin: 20px 0 26px;
  position: relative;
  display: inline-block;
}
.load_photo.error .photo_brd{
  border-color: #ea6b74;
  background: #F7E9EB url('../pic/svg/6.svg') bottom center no-repeat;
}
.load_photo .photo_brd IMG,
.load_photo.error .photo_brd IMG{
  display: none;
}
.load_photo.upload .photo_brd IMG{
  display: inline-block;
}

.load_photo + .advice_upload .advice{
  display: none;
}
.load_photo.error + .advice_upload .advice.type_not{
  display: block;
}
.load_photo.upload + .advice_upload .advice.type_ok{
  display: block;
}
.load_photo + .advice_upload .advice{
  width: 800px;
  padding: 0;
  border: none;
  margin-top: 40px;
}
.load_photo + .advice_upload .advice .advice_h{
  margin: 0;
}
.load_photo + .advice_upload .advice .advice_ico{
  width: 45px;
  height: 45px;
  border-width: 6px;
  margin-top: -10px;
}
.load_photo + .advice_upload .advice .icomoon{
  font-size: 18px;
  line-height: 33px;
}
.load_photo + .advice_upload .advice H2{
  font-size: 20px;
  margin-left: 64px;
}
  
.load_photo-sub{
  position: absolute;
  line-height: 1;
  top: 0;
  left: 0;
  width: 362px;
}
.load_photo-sub .sub_wrap{
  text-align: left;
  display: block;
  position: relative;
}
.load_photo-sub .sub_line{
  border-bottom: 1px dashed #82939E;
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter: alpha(opacity=70);
}
.load_photo-sub .sub_line_1{
  position: absolute;
  top: -3px;
}
.load_photo-sub .sub_line_2{
  position: absolute;
  top: 66px;
}
.load_photo-sub .sub_line_3{
  position: absolute;
  top: 168px;
}
.load_photo-sub .sub_txt{
  display: inline-block;
  font-size: 12px;
  line-height: 13px;
  color: #535B60;
  padding: 0 0 5px 210px;
}

.load_photo-btn{
  text-align: center;
  display: inline-block;
}
.load_photo-btn A{
  min-width: 194px;
}


#content .load_photo .q {
  top:0;
  right:0;
  position:absolute;
}

#content .load_photo .btn {
  margin:0 0 10px 0;
}

#content .list.edit_list LI{
  margin-left: 0;
  list-style: none;
  margin-bottom: 18px;
  cursor: pointer;
}

.list.edit_list LI .lnk{
  color: #535B63;
  display: inline-block;
}
.list.edit_list LI .lnk .txt{
  color: #535B63;
  text-shadow: 1px 1px 0px rgba(150, 150, 150, 0);
}
.list.edit_list LI .lnk:hover .txt{
  text-shadow: 1px 1px 0px rgba(150, 150, 150, 0.2);
}

.list.edit_list LI .lnk .icomoon{
  position: relative;
  width: 34px;
  height: 34px;
  border: 1px solid #CDD1D4;
  border-radius: 4px;
  line-height: 34px;
  text-align: center;
  vertical-align: middle;
  font-size: 23px;
  color: #565656;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.0);
  -webkit-transition: text-shadow .25s, background-color  .15s;
  -o-transition: text-shadow .25s, background-color  .15s;
  transition: text-shadow .25s, background-color  .15s;
  background-color: #fff;
  outline: none;
  cursor: pointer;
}
.list.edit_list LI .lnk:hover .icomoon{
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
}
.list.edit_list LI .lnk:active .icomoon{
  background-color: #e0e0e0;
}

#content .edit_list LI SPAN.txt{
  margin-left: 18px;
}

.fields_cover {
  display:none;
  position:relative;
  background:#e4f6ff;
  margin: -10px -10px 30px -20px;
  padding: 25px 10px 10px 20px;      
}

.fields_cover:before {
  position:absolute;
  display:block;
  content:'';
  width:20px;
  height:20px;
  left:20px;
  top:-10px;
  background: url('../img/corners_cloud.png') 0 0 no-repeat;         
}

H4 {
  font:bold 14px 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  margin:10px 20px 20px 0;
  border-bottom:1px solid #dbe2e6;  
  padding:0 0 10px 0;    
}

.fields_cover H4 {
  padding:10px 0;
  margin:0px 20px 20px 0;
  border-bottom:1px solid #c0e8ff;        
}

.cover_info_title {
  margin:0 0 30px 0;
}




/* map_cover */

.map_cover {
  border:1px solid #dbe2e6;
  margin:0 0 30px 0;
  position: relative;
  min-height: 467px;  
}
.map_block{
  height: 100%;
  width: 100%;
  position:absolute;
  top:0;
  left:0;
}
.map_nav{
  width: 50%;
  max-width:550px;
  position: relative;
  background: #fff;
  padding: 6px 0 20px;
  margin:20px;
}
.map_nav_h{
  margin: 20px;
  padding: 0;
  border: none;
}
.map_list{
  border-bottom: 1px solid #dbe2e6;
}
.map_list_item{
  border-top: 1px solid #dbe2e6;
  padding: 20px 58px;
  position: relative;
}
.map_list_item:hover{
  background-color: #E2F6FF;
  -webkit-transition: background-color .15s;
  -o-transition: background-color .15s;
  transition: background-color .15s;
}
.map_list_item P{
  font-size: 12px;
  line-height: 18px;
}
.map_list_item P A{
  font-size: 14px;
  line-height: 16px;
}
.map_list_item .map_num{
  display: inline-block;
  font: 14px/23px 'etelka_mediumregular', sans-serif;
  width: 23px;
  height: 23px;
  text-align: center;
  border: 1px solid #0063B0;
  border-radius: 14px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.map_list_item:hover .map_num{
  color: #EB4960;
  border-color: #EB4960;
}


.map_ballon_block{
  position: absolute;
  right: 20px;
  top: 40px;
  background: #fff;
  display: none;
  padding: 20px;
  width: 30%;
}
.map_ballon_wrap{
  position: relative;
}
.map_ballon_close{
  position: absolute;
  right: -12px;
  top: -12px; 
  cursor: pointer;
}
.map_ballon_close .icomoon{
  font-size: 10px;
  color: #fff;
  background: #B2B2B2;
  padding: 3px;
  border-radius: 4px;
  vertical-align: baseline;
}
.map_ballon_h{
  margin-bottom: 20px;
}
.map_ballon_h p{
  font-size: 12px;
  line-height: 18px;
}
.map_ballon_item{
  font-size: 12px;
  line-height: 18px;
}
/* /map_cover */

/**/

.selector {
  overflow:hidden;
  display:inline-block;
  border-radius:4px; 
  font-size:90%; 
  margin:30px 0 0 0; 
      
}

.selector LI {
  float:left;
  border:1px solid #d0d0d0;  
  border-left:none;
  padding:10px 20px;
  min-width:115px;
  text-align:center;
  cursor:pointer;      
  transition: background-color .15s;
  -webkit-transition: background-color .15s;
  position:relative;
}
.selector LI:hover,
.selector LI:focus {
    background-color: #f5f5f5;
}
.selector LI.first {
  border-left:1px solid #d0d0d0; 
  border-radius:4px 0 0 4px; 
       
}

.selector LI.last {
  border-radius:0 4px 4px 0; 
        
}

.selector LI.active {
  border-color:#6ba9d2; 
  background:#6ba9d2;
  color:#fff; 
  cursor:default;   
}

/**/ 

.switcher {
  display:inline-block;
  position:absolute;
  overflow:hidden;
  width:95px;
  right:20px;
  font-size:85%;
  font-weight:bold; 
  border-radius:4px;        
} 

.switcher .cover { 
  margin:0;
  width:150px;
  position:relative;
}

.switcher .cover DIV {
  float:left;
  height:40px;  
}

.switcher .left,
.switcher .right {
  position:relative;  
  width:55px;
  line-height:38px;
  text-align:center;
  cursor:pointer;     
}

.switcher .left {
  border-radius:4px 0 0 4px;
  background:#69abce;
  border:1px solid #69abce;  
  color:#fff;
  margin:0 -2px 0 0;
}

.switcher .right {
  border-radius:0 4px 4px 0;
  background:#e0e0e0;
  border:1px solid #d0d0d0;     
  border-left:none;
  margin:0 0 0 -2px;  
}

.switcher .movable {
  float:left;
  width:38px;
  height:38px; 
  border:1px solid #d0d0d0;     
  background:#fff;
  border-radius:4px;
  cursor:pointer;
  position:relative;     
  z-index:3; 
     
}


/**/

.ticket {
  padding: 30px 0px;
  border-top:1px solid #d0d0d0;
  position:relative;
  margin:0 20px 0 0; 
}

.ticket .sub_title {
  position:relative;
  padding:0 110px 0 0;
  margin:0 0 30px 0;
  font:bold 100% 'Helvetica Neue', Helvetica, Arial, sans-serif;  
}

.ticket .sub_title .fl {
  width:500px;
}

.ticket .sub_title .btn_cover_r {
  position:absolute;
  top:-12px;
  right:0px;
}

.ticket .status {
  float:right;
  position:relative;
  right:-110px;
}

.ticket .status.pd {
  padding:0 0 0 20px;
  color:#699c35;
}
.ticket .status.pd:before{
    content: 'M';
    font: 16px 'icomoon-epga';
    position: absolute;
    left: -2px;
    top: 2px;
}

.ticket .status.processing {
  padding:0 0 0 25px;
  color:#5c5c5c;
}
.ticket .status.processing:before{
    content: 'N';
    font: 18px 'icomoon-epga';
    position: absolute;
    left: -2px;
    top: 0;
}

.ticket DL {
  display:table;
  font: 100% 'Helvetica Neue', Helvetica, Arial, sans-serif;    
}

.ticket DT {
  display:table-cell;
  width:295px;
  font-weight:bold;
  color:#5c5c5c;
  padding:0 0 20px 0;
  
}

.ticket DD {
  display:table-cell;
  width:405px;
  padding:0 0 20px 0;
  color:#5c5c5c;
  line-height:1.5em;  
}

.slide_up,
.hide_show {
  display:none;
}

.slide_up,
.slide_down {
  position:relative;
}

.slide_up:after,
.slide_down:after {
  content:'';
  display:block;
  width:11px;
  height:6px;
  position:absolute;
  top:0.5em;
  right:-17px;
}

.slide_up:after {
  background: url('../img/link_arrow_top_small.png') 0 0 no-repeat; 
}

.slide_down:after {
  background: url('../img/link_arrow_bottom_small.png') 0 0 no-repeat; 
}

.slide_up:hover:after {
  background: url('../img/link_arrow_top_small_hover.png') 0 0 no-repeat; 
}

.slide_down:hover:after {
  background: url('../img/link_arrow_bottom_small_hover.png') 0 0 no-repeat; 
}

.hide_show {
  margin:20px 0 0 0;
}

/**/

.advice {
  margin:30px 0;
  background:#fff;
  padding:58px 85px 40px 100px;
  background:#fff 87px 40px no-repeat;
  border-top:1px solid #dbe2e6;
  border-bottom:1px solid #dbe2e6;
} 
.advice .advice_h{
    margin-bottom: 25px;
    margin-left: -96px;
}
.advice H2 {
  font:265% 'etelka_thinregular';
  margin: 0;
  display: block;
  margin-left: 96px;
}

.advice H3 {
  display: block;
  margin:0 0 60px 96px;
  position:relative;
  top:10px;
}

.advice P {
  margin:0 0 1em 0;
} 
.advice_ico{
    vertical-align: middle;
    text-align: center;
    height: 80px;
    width: 80px;
    border: 12px solid #E6EBEC;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    box-sizing: border-box;
    float: left;
    margin-right: 0px;
    margin-top: -18px;
}
.advice SPAN.icomoon{
    line-height: 56px;
}
.type_ok .advice_h SPAN.icomoon{
    color: #86D464;
    font-size: 28px;
}
.type_like .advice_h SPAN.icomoon{
    color: #4185D5;
    font-size: 32px;
}
.type_not .advice_h SPAN.icomoon{
    color: #EA405A;
    font-size: 28px;
}
.type_info .advice_h SPAN.icomoon{
    color: #E8405A;
    font-size: 60px;
    margin-left: -2px;
}

.social {
  display:table;
  vertical-align:middle;
  margin: 10px 0 0;
}
.social B,
.social .social-ico_cont{
    display: table-cell;
    padding-right: 20px;
}
.social-ico_cont SPAN.icomoon{
    font-size: 36px;
    color: #565656;
    line-height: 36px;
}
.social-ico_cont A:hover SPAN.icomoon,
.social-ico_cont A:focus SPAN.icomoon{
    background: #f5f5f5;
    transition: background-color .15s;
    -webkit-transition: background-color .15s;
}

.social A {
  border: 1px solid #DBE2E6;
  border-radius: 4px;
  margin-left: 0px;
  margin-right: 15px;
  display: inline-block;
  position:relative;
}

.social IMG { 
  position:relative;
  top:0.9em;  
  width:40px;
  height:40px;
}

.advice .wrapper { 
  margin:0;
}

.type_social {
  padding:25px 85px 40px 85px;
}



/**/

#footer {
  display:table-row;
  background:#e6ecec;
}

#footer UL {
  width:1180px;
  margin:0 auto;
  overflow:hidden;
  position:relative;
  display:table;  
}

#footer LI {
  height:110px;
  color:#5f666c;
  display:table-cell;
  vertical-align:middle;
  width:50%;   
}

#footer LI.left {
  text-align:left;
  background: url('../img/logo_arms.png') 0% 50% no-repeat; 
  padding:0 0 0 100px;
  font-size:90%;    
}

#footer LI.right {
  text-align:right;
  background: url('../img/logo_rostelecom.png') 100% 50% no-repeat; 
  padding:0 95px 0 0px;     
}

#footer LI.right SPAN {
  display:inline-block;
  font:115% 'etelka_mediumregular';
  margin:0 35px 0 0;
  position:relative;
  top:7px;
}
#footer LI.right .foot_lnk{
    display: inline-block;
    vertical-align: sub;
}
#footer LI.right .foot_lnk a{
    color: #576472;
    font: 16px/20px 'etelka_thinregular', sans-serif;
    text-decoration: underline;
    margin-bottom: 3px;
    display: inline-block;
}
#footer LI.right .foot_lnk a:hover{
    text-decoration: none;
}

#footer .feedback_btn {
  font-size:90%;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;  
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  color: #565656;
  line-height: 1em;
  padding: 0 20px 0 45px;
  height:44px;
  line-height:44px;
  display:inline-block;
  position:relative;
  top:-8px;
  background:#fff url('../img/ico_cloud.png') 17px 14px no-repeat; 
           
}

#footer .feedback_btn:hover {
  background:#f5f5f5 url('../img/ico_cloud.png') 17px 14px no-repeat;
}

#footer .feedback_btn:active {
  background:#e0e0e0 url('../img/ico_cloud.png') 17px 14px no-repeat;
}

/*Variable data*/

.gibdd_shtrafy #content .main FIELDSET {
  /*padding:25px 15px 5px 88px;*/  
}

.nalogovaya_zadoljennost #content .main FIELDSET {
  /*padding:25px 15px 0px 88px;*/  
}

.nalogovaya_zadoljennost #content .ticket {
  /*padding: 30px 15px 0px 88px;*/
}

.proverka_sudebnyh_zadoljennostey {

}

.zamena_pasporta_pol #content .main FIELDSET {
  margin:0; 
}

.zamena_pasporta_pol_ok #content .main FIELDSET {
  padding:0; 
}

.zamena_pasporta_pol_ok #content .advice {
  border:none; 
  padding: 20px 85px 30px 100px;
}

.zamena_pasporta_pol_ok #content .type_ok {
  border-bottom:1px solid #ddd; 
}

.zamena_pasporta_pol_ok #content .advice .wrapper {
    margin: 0 0 30px 0;
}

.zamena_pasporta_pol_ok .note {
  line-height: 54px;
  margin:0 0 0 20px;
}

.zamena_pasporta_pol #content .group_11 .col_left {
  width: 380px;
  padding:20px; 
}

.zamena_pasporta_pol #content .group_11 .col_right {
  width: 395px;
  padding:0;  
}

.zamena_pasporta_pol #content .group_12 {
  margin:0 0 40px 0!important;
}

.zamena_pasporta_pol #content .group_3 H4 {
  border-bottom:1px solid #d0d0d0;
  padding:0 0 10px 0;
  margin:0 0 20px 0;
}

/*Field & Button*/
INPUT { 
  border:1px solid #d0d0d0;
  width:100%;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  font-size:17px;
  outline: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-shadow: 0px 0px 0px 4px rgba(173, 222, 255, 0); 
  -webkit-transition: border-color .25s, box-shadow .25s;
  -o-transition: border-color .25s, box-shadow .25s;
  transition: border-color .25s, box-shadow .25s;
     
}

#wrap INPUT[disabled] {
  border:1px solid #eaeef1;
  background:#eaeef1;
  color:#999;
  cursor:default;
}

INPUT:focus {
  box-shadow: 0px 0px 0px 4px rgba(173, 222, 255, 1); 
  border:1px solid #addeff;
     
}
INPUT.btn:focus {
  box-shadow: none;
       
}

INPUT::-ms-clear {
   display: none;
}

INPUT.big {
  height:54px;
  padding:0 20px;
}

INPUT.small {
  height:40px;
  padding:0px 10px;
  font-size:90%;
}

TEXTAREA{
  resize: none;
  width: 100%;
  min-height: 215px;
  box-sizing: border-box;
  -moz-box-sizing:border-box;  
  font: 115% 'Helvetica Neue', Helvetica, Arial, sans-serif;  
  padding: 15px 20px;
  border: 1px solid #d0d0d0;
  outline: none;
     
}

TEXTAREA:focus{
  box-shadow: 0px 0px 0px 4px rgba(173, 222, 255, 1);
  border: 1px solid #addeff;
   
}

TEXTAREA.big {
  height:54px;
  padding:0px 20px;
  outline: 0;
}

.btn.small B {
  height:40px;
  line-height:40px;
  padding:0px 10px;
  font-size:90%;
}

.btn {
  display:inline-block;
  margin:0 20px 30px 0;
  border-radius:4px;
  line-height:1em;
  background:#0063b0;
  color:#fff;
  cursor:pointer;  
  outline: 0;
  box-sizing: border-box;
  -moz-box-sizing:border-box;   
  transition: background .2s;
  -webkit-transition: background .2s;
  position:relative;    
}

.btn B {
  color:#fff;
  display:inline-block;
  width:100%;
  height:54px;
  line-height:54px;  
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  padding:0 25px;
  font-weight:normal;
  font-size: 115%; 
     
}

INPUT.btn.big {
  border:none;
  padding:0 25px;
}
INPUT.btn.big.white {
  border: 1px solid #d0d0d0;
  padding:0 25px;
}

INPUT.btn.small {
  border:none;
}

.btn:hover{
  background:#023e83;
}

.btn:active,
.btn:focus {
  background:#002957;
}

.btn.white {
  border: 1px solid #d0d0d0;
  background:#fff;
  color:#565656;
}

.btn.white B {
  color:#565656;
}

.btn.white:hover {
  background:#f5f5f5;
}

.btn.white:active {
  background:#e0e0e0;
}

.btn.white.plus{
    padding: 0 25px;
}
.btn.white.plus .icomoon{
    font-size: 23px;
    margin-right: 14px;
    line-height: 56px;
}
.btn.white.plus B{
    display: inline;
    padding: 0;    
    vertical-align: middle;
}

.btn.larr {
  padding: 0 25px 0 50px;
  position: relative;
}
.btn.larr B:before{
    content: "6";
    font: 20px 'icomoon-epga';
    color: #565656;
    position: absolute;
    left: 26px;
    top: 16px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -webkit-transition: opacity .25s;
    -o-transition: opacity .25s;
    transition: opacity .25s;
}
.btn.larr:hover:before,
.btn.larr:focus:before{
    opacity: 1;
    filter: alpha(opacity=100);   
}

.btn.larr B {
  padding: 0;
}

LABEL {
  margin: 0;
  padding-left: 15px;
}

.slash {
  position:absolute;
  margin:15px 0 0 -12px;
}

#drop_zone {
  min-height:100px;
  padding:20px 45px;
  border:1px dashed #d0d0d0;
}

#drop_zone H4 {
  position:relative;
  color:#b1b2b4;
  border:none;
  margin:0 0 10px 0;     
}

#drop_zone H4:before {
  position:absolute;
  display:inline-block;
  left:-45px;
  font:50px 'icomoon-epga'; 
  content:"\'";
  top:-18px;
  color:#b1b2b4;  
}

#drop_zone P {
  position:relative;
  font-weight:bold;
  color:#b1b2b4;
  margin:0 0 15px 0;
  padding:0 0 0 20px; 
}

#drop_zone P:before {
  position:absolute;
  display:inline-block;
  left:0px;
  font:10px 'icomoon-epga'; 
  content:"(";
  top:5px;
  color:#be081e;
  cursor:pointer;  
}

#drop_zone P:last-of-type {
  color:#000;
}

#drop_zone .file_progress_line {
  border: 1px solid #eeeff0;
  border-radius: 5px;
  display:inline-block;
  height: 8px;
  width: 65px;
  margin:0 0 0 10px;
}

#drop_zone .file_progress_line SPAN {
  background: none repeat scroll 0 0 #689f38;
  border-radius: 5px;
  display: block;
  height: 10px;
  margin-top: -1px;
}

#drop_zone .file_error {
  color: #d0021b;
  font-size: 14px;
  line-height: 1;
  position:relative;
  padding:0 0 0 20px; 
  margin:0 0 0 10px;
  font-weight:normal;   
}

#drop_zone .file_error:before {
  position:absolute;
  display:inline-block;
  left:1px;
  font:12px 'icomoon-epga'; 
  content:"*";
  top:1px;
  color:#be081e;
  cursor:pointer;  
}

#drop_zone .file_done {
  color:#b1b2b4;
  font-size: 14px;
  line-height: 1;
  position:relative;
  padding:0 0 0 20px; 
  margin:0 0 0 10px;
  font-weight:normal;   
}

#drop_zone .file_done:before {
  position:absolute;
  display:inline-block;
  left:0px;
  font:10px 'icomoon-epga'; 
  content:")";
  top:3px;
  color:#67a039;
  cursor:pointer;  
}

.new_auto {
  display:none;
}


/* field_prelude */
.field_prelude LI{
  list-style: none;
  margin-left: 0;
}
.field_prelude LI .icomoon{
  display: block;
  float: left;
  font-size: 22px;
}
.field_prelude LI .sub_txt{
  margin-left: 40px;
  display: block;
  font-size: 15px;
  line-height: 20px;
}

/* /field_prelude */

/* filed_slide */

.filed_slide{
  position: relative;
  background: #e4f6ff;
  margin: 0px -10px 0px -20px;
  padding: 40px 10px 10px 20px;
}
.filed_slide + .filed_slide{
  border-top: 1px solid #88C5E7;
}
.filed_slide A.close{
  display: inline-block;
  margin-bottom: 10px;
}
.filed_slide A.close .icomoon{
  font-size: 12px;
  line-height: 18px;
  vertical-align: baseline;
}
.filed_slide A.close .sub_txt{
  border-bottom: 1px dashed #0173C1;
  margin-left: 5px;
}
.filed_slide A:hover.close .sub_txt{
  border-bottom: 1px solid transparent;
}
.filed_slide .chk_50{
  position: relative;
  top: -20px;
  margin-left: 50%;
  margin-bottom: 8px;
}
.filed_slide .l_16 .jq-selectbox__select-text{
  width: 100%;
  text-overflow: clip;
}
.filed_slide A.close{
  display: none;
}
.filed_slide.filed_slide-clone A.close{
  display: inline-block;
}
.btn_add-slide{
  position: relative;
  background: #e4f6ff;
  margin: -40px -10px 0px -20px;
  padding: 40px 10px 10px 20px;
}
/* /filed_slide */

.pay_card_bg {
  position: absolute;
  margin:-40px 0 0 -35px;
}

.cw_cvc {
  position: relative;
  top:-23px;
  right: -30px;
}


/*SForm*/
.jq-checkbox {
  top: -1px;
  width: 20px;
  height: 20px;
  border: 1px solid #CDD1D4;
  background: #fff;
  vertical-align: middle;
  cursor: pointer;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  border-radius:3px;
  float:left; 
      
}
.jq-checkbox.checked {
  border:none!important;
}
.jq-checkbox.checked .jq-checkbox__div {
    width: 20px;
    height: 20px;
    background:#6ca9d2 url("../img/checkbox_enabled.png") 50% 50% no-repeat;  
}
.jq-checkbox.focused {
    box-shadow: 0px 0px 0px 4px rgba(173, 222, 255, 1); 
    border:1px solid #addeff;
    background:#fff;
       
}
.jq-checkbox.disabled {
    opacity: 0.55;
    filter: alpha(opacity=55);
}


.jq-radio {
  margin:0 0 -0.25em 0;
  float: left;
  margin-top: -1px;
}
.jq-radio + label{
  padding-left: 35px;
  margin-left: 0;
  display: block;
}

.jq-radio .jq-radio__div{
  width: 18px;
   height: 18px;
   border: 1px solid #CDD1D4;
   border-radius: 10px;
    background: #fff;
}


.jq-radio.checked .jq-radio__div {
    width: 14px;
    height: 14px;
    border:3px solid #6CA9D2;
    border-radius: 10px;
    background: #fff;
    position: relative;
     
}
.jq-radio.checked .jq-radio__div:after{
  content: "";
  width: 8px; 
  height: 8px;
  background: #6CA9D2;
  border-radius: 4px;
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 3px;
     
}

.jq-radio.focused {
    box-shadow: 0px 0px 0px 4px rgba(173, 222, 255, 1); 
    border:1px solid #addeff;
       
}
.jq-radio.disabled.checked .jq-radio__div{
    background: #DBE2E6;
  border: 3px solid #97A1A7;
  border-radius: 10px;
     
}
.jq-radio.disabled.checked .jq-radio__div:after{
  background: #97A1A7;
}
.jq-radio.disabled .jq-radio__div{
  background: #DBE2E6;
  border-radius: 10px;
  width: 14px;
  height: 14px;
  border: 3px solid #DBE2E6;
     
}



.jq-file {
    width: 270px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 4px;
       
}
.jq-file input {
    cursor: pointer;
    height: auto;
    line-height: 1em;
}
.jq-file__name {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    padding: 0 80px 0 10px;
    color: #333;
    font: 14px/30px Arial, sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #CCC;
    border-bottom-color: #B3B3B3;
    border-radius: 4px;
    box-shadow: inset 1px 1px #F1F1F1;
    background: #FFF;
       
}
.focused .jq-file__name {
    border: 1px solid #5794BF;
}
.jq-file__browse {
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 0 10px;
    border-left: 1px solid #CCC;
    border-radius: 0 4px 4px 0;
    background: #F1F1F1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC) repeat-x;
    box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
    color: #333;
    text-shadow: 1px 1px #FFF;
    font: 14px/30px Arial, sans-serif;
           
}
.jq-file:hover .jq-file__browse {
    background-color: #E6E6E6;
    background-position: 0 -10px;
}
.jq-file:active .jq-file__browse {
    background: #F5F5F5;
    box-shadow: inset 1px 1px 3px #DDD;
       
}
.jq-file.disabled .jq-file__name {
    color: #888;
}
.jq-file.disabled,
.jq-file.disabled .jq-file__browse {
    border-color: #CCC;
    background: #F5F5F5;
    box-shadow: none;
    color: #888;       
}



.jq-selectbox {
    vertical-align: middle;
    cursor: pointer;
    width:100%;
    border: 1px solid #CCC;
    border-radius: 4px;
    position:relative;
    top:-2px;   
    -webkit-transition: border-color .25s, box-shadow .25s;
    -o-transition: border-color .25s, box-shadow .25s;
    transition: border-color .25s, box-shadow .25s;
}
.jq-selectbox .selected_one{
  color: #fff;
  font-size: 0;
  display: none !important;
}


.jq-selectbox.focused{
    border-color: transparent;
}
.jq-selectbox__select {
    height: 54px;
    padding: 0 62px 0 20px;
    background: #fff;
    color: #333;
    font: 14px/54px Arial, sans-serif;
    border-radius: 4px;  
        
}
.jq-selectbox__select:hover {
    background-color: #fff;
}
.jq-selectbox.focused {
    box-shadow: 0px 0px 0px 4px rgba(173, 222, 255, 1); 
       
}
.jq-selectbox__select:active {
    background: #dadbe2;
}

.jq-selectbox.disabled .jq-selectbox__select {
    border-color: #CCC;
    background: #F5F5F5;
    box-shadow: none;
    color: #888;
       
}
.jq-selectbox__select-text {
    display: block;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:115%; 
    color: #333;
         
}
.jq-selectbox__trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 62px;
    height: 100%;
}
.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 16px;
    right: 20px;
    width: 20px;
    height: 21px;
    overflow: hidden;
    opacity: 0.6;
    filter: alpha(opacity=60);   
    -webkit-transition: opacity .25s;
    -o-transition: opacity .25s;
    transition: opacity .25s;
}
.jq-selectbox__trigger-arrow:before{
    content: "J";
    font: 20px 'icomoon-epga';
    color: #565656;
    position: absolute;
}
.opened .jq-selectbox__trigger-arrow:before{
    content: "K";
    font: 20px 'icomoon-epga';
    color: #000;
    position: absolute;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: ;
    -o-transition: ;
    transition: ;
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.jq-selectbox__dropdown {
    top: 54px;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid #cdd0db;
    background: #FFF;
    font: 14px/18px Arial, sans-serif;
    z-index: 101;
}
.jq-selectbox__search {
    margin: 5px;
}
.jq-selectbox__search input {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 5px 27px 6px 8px;
    outline: none;
    border: 1px solid #CCC;
    border-radius: 3px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%;
    box-shadow: inset 1px 1px #F1F1F1;
    color: #333;
    -webkit-appearance: textfield;  
}
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
    -webkit-appearance: none;
}

.jq-selectbox__dropdown .jq-selectbox__search{
  height: 54px;
  width: 101%;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 0;
  margin: 0;
  margin-left: -2px;
  border: 0;
}
.jq-selectbox__dropdown .jq-selectbox__search:before{
  content: "P";
  font: 24px 'icomoon-epga';
  position: absolute;
  right: 20px;
  top: 14px;
  color: #565656;
  -webkit-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
.jq-selectbox__dropdown .jq-selectbox__search:before{
  color: #565656;
}
.jq-selectbox__dropdown .jq-selectbox__search input{
  height: 56px;
  background: #fff;
  margin-top: -2px;
  margin-left: -1px;
  padding: 0 24px;
}
.jq-selectbox__dropdown .jq-selectbox__not-found{
  background-color: #6ba9d2;
  color: #fff;
}

.jq-selectbox__not-found {
    margin: 5px;
    padding: 5px 8px 6px;
    background: #F0F0F0;
    font-size: 13px;
}
.jq-selectbox ul {
    margin: 0;
    padding: 0;
}
.jq-selectbox li {
    min-height: 54px;
    padding: 0px 20px 0 40px;
    color: #231F20;
  line-height:54px;
  position:relative;
}
.jq-selectbox li.sel {
    background: #fff url("../img/checkbox_disabled.png") 20px 50% no-repeat;
}
.jq-selectbox li:hover {
    background-color: #6ba9d2;
  color:#fff;
}
.jq-selectbox li.selected:hover {
    background: #6ba9d2 url("../img/checkbox_enabled.png") 20px 50% no-repeat;
}
.jq-selectbox li.disabled {
    color: #AAA;
}
.jq-selectbox li.disabled:hover {
    background: none;
}
.jq-selectbox li.optgroup {
    font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
    background: none;
    color: #231F20;
    cursor: default;
}
.jq-selectbox li.option {
    padding-left: 25px;
}


.jq-select-multiple {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1px;
    border: 1px solid #CCC;
    border-bottom-color: #B3B3B3;
    border-radius: 4px;
    box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
    background: #FFF;
    color: #333;
    font: 14px/18px Arial, sans-serif;
    cursor: default;
       
}
.jq-select-multiple.focused {
    border: 1px solid #5794BF;
}
.jq-select-multiple.disabled {
    border-color: #CCC;
    background: #F5F5F5;
    box-shadow: none;
    color: #888;
       
}
.jq-select-multiple ul {
    margin: 0;
    padding: 0;
}
.jq-select-multiple li {
    padding: 3px 9px 4px;
    list-style: none;
}
.jq-select-multiple li:first-child {
    border-radius: 3px 3px 0 0;
       
}
.jq-select-multiple li:last-child {
    border-radius: 0 0 3px 3px;
       
}
.jq-select-multiple li.selected {
    background: #08C;
    color: #FFF;
}
.jq-select-multiple li.disabled {
    color: #AAA;
}
.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
    background: #CCC;
    color: #FFF;
}
.jq-select-multiple li.optgroup {
    font-weight: bold;
}
.jq-select-multiple li.option {
    padding-left: 25px;
}


input[type="email"].styler,
input[type="number"].styler,
input[type="password"].styler,
input[type="search"].styler,
input[type="tel"].styler,
input[type="text"].styler,
input[type="url"].styler,
textarea.styler {
    padding: 7px 9px;
    border: 1px solid #CCC;
    border-bottom-color: #B3B3B3;
    border-radius: 4px;
    box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
    color: #333;
    font: 14px Arial, sans-serif;
       
}
input[type="search"].styler {
    -webkit-appearance: none;
}
textarea.styler {
    overflow: auto;
}
input[type="email"].styler:hover,
input[type="number"].styler:hover,
input[type="password"].styler:hover,
input[type="search"].styler:hover,
input[type="tel"].styler:hover,
input[type="text"].styler:hover,
input[type="url"].styler:hover,
textarea.styler:hover {
    border-color: #B3B3B3;
}
input[type="email"].styler:focus,
input[type="number"].styler:focus,
input[type="password"].styler:focus,
input[type="search"].styler:focus,
input[type="tel"].styler:focus,
input[type="text"].styler:focus,
input[type="url"].styler:focus,
textarea.styler:focus {
    border-color: #CCC;
    border-top-color: #B3B3B3;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    outline: none;
       
}
button.styler,
input[type="button"].styler,
input[type="submit"].styler,
input[type="reset"].styler {
    overflow: visible;
    padding: 7px 11px;
    outline: none;
    border: 1px solid #CCC;
    border-bottom-color: #B3B3B3;
    border-radius: 4px;
    background: #F1F1F1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC) repeat-x;
    box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
    color: #333;
    text-shadow: 1px 1px #FFF;
    font: 14px Arial, sans-serif;
    cursor: pointer;
       
}
button.styler::-moz-focus-inner,
input[type="button"].styler::-moz-focus-inner,
input[type="submit"].styler::-moz-focus-inner,
input[type="reset"].styler::-moz-focus-inner {
    padding: 0;
    border: 0;
}
button.styler:after {
    content: '';
}
button.styler:not([disabled]):hover,
input[type="button"].styler:not([disabled]):hover,
input[type="submit"].styler:not([disabled]):hover,
input[type="reset"].styler:hover {
    background-color: #E6E6E6;
    background-position: 0 -10px;
}
button.styler:not([disabled]):active,
input[type="button"].styler:not([disabled]):active,
input[type="submit"].styler:not([disabled]):active,
input[type="reset"].styler:active {
    background: #F5F5F5;
    box-shadow: inset 1px 1px 3px #DDD;
       
}
button.styler[disabled],
input[type="button"].styler[disabled],
input[type="submit"].styler[disabled] {
    border-color: #CCC;
    background: #F5F5F5;
    box-shadow: none;
    color: #888;
       
}




/* Slick Gallery */

/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: none; -webkit-tap-highlight-color: transparent;    }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white url("../img/ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);    }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

/* Arrows */
.slick-prev, .slick-next { position: absolute; display: block; height: 20px; width: 20px; line-height: 0; font-size: 0; cursor: pointer; background: transparent; color: transparent; top: 50%; margin-top: -10px; padding: 0; border: none; outline: none; }
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { outline: none; background: transparent; color: transparent; }
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { opacity: 1; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }

.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 20px; line-height: 1; color: white; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;    }

.slick-prev { left: -25px; }
.slick-prev:before { content: "\2190"; }

.slick-next { right: -25px; }
.slick-next:before { content: "\2192"; }

/* Dots */
.slick-slider { margin-bottom: 30px; }

.slick-dots { position: absolute; bottom: -45px; list-style: none; display: block; text-align: center; padding: 0; width: 100%; }
.slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0 5px; padding: 0; cursor: pointer; }
.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; }
.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "\2022"; width: 20px; height: 20px; font-family: "slick"; font-size: 6px; line-height: 20px; text-align: center; color: black; opacity: 0.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;    }
.slick-dots li.slick-active button:before { color: black; opacity: 0.75; }


/* Slick Gallery */


/* links html */

.links_html{
    width: 945px;
    margin: 20px 50px;
}
.links_html td{
    padding: 6px 30px 6px 0px;
    width: 230px;
}
.links_html th{
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* /links html */


/* 404 Page */

.page_404 .cover{
    height: 100%;
    padding: 0;
    margin: 0;
}
.page_404 #content{
    padding-right: 0;
    height: 100%;
}
.wrapout_404{
    height: 100%;
    display: table;
    /* vertical-align: middle; */
}
.container_404{
    display: table-cell;
    vertical-align: middle;
}
.text_404{
  width: 70%;
  float: left;
  padding: 100px 0;
}
.img_404{
  width: 30%;
  float: right;
  margin-top: -70px;
  padding: 100px 0;
}
.text_404 H1{
    font: 42px/48px 'etelka_thinregular';
    color: #2a2c2b;
    margin-bottom: 42px;
}
.text_404 P{
    color: #5a5a5a;
    font: 18px/30px  "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.page_404 .btn.larr b:before{
  top: 15px;
  font-size: 14px;
}
.nav_404{
  margin-top: 100px;
}
.nav_404 .btn B{
  height: 42px;
  line-height: 42px;
  font-size: 14px;
}
.page_404 #footer{
  height: 100px;
}
/* /404 Page */

