/*Tablet Landscape*/

BODY {
  background:#fff;
  min-width:320px;
}

.cover {
  margin:0;                
}

.limiter {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position:relative;
  margin:0 auto;
  max-width: 945px; 
  padding:0 0 0 50px;
  width: 90%;
}

.point_num {
  top:-10px;
}

.menu_btn_cover {
  margin: 0 auto;
  position: relative;
}

.menu_btn_cover DIV {
  position: absolute;
  right: 0;
  top: 25px;
  z-index: 9;
} 

#menu_btn .exit{
  white-space: nowrap;
}

.menu_btn_cover.hide {
  right:0px!important;
} 

#header .menu {
  display:none;
}

#header .top.type_1 {
  border-bottom: 4px solid #257CB1;
}
#header .top.type_2{
  border-bottom: 4px solid #c00e4b;
}

#header .logo {
  width: 150px;
  height:auto;
  margin:16px 0 0 0;
}

#header .nav {

}

#header .nav LI {
  height: 66px;
}


#header .catalog_link {
  display: inline-block;
  margin:25px 0 0 0;
  background: url('../img/mobile/link_larr.png') 0 4px no-repeat; 
  background-size: 8px 12px;
  padding:0 0 0 15px;   
}

#header LI.col_1 {
    width: 180px;
}

#header LI.col_2 {
    width: 180px;
}

#intro {
  padding:245px 0 40px 0;
  background:#e1edf5 url('../img/mobile/mobile_intro_bg.png') 50% -255px no-repeat; 
  background-size: 761px 786px;  
  text-align:center;
  margin:0 0 30px 0;
  position:relative;   
}

#intro .txt {
  margin:0 auto; 
}

#intro H2 {
  font:200% 'etelka_thinregular';
  margin:0 0 0.7em 0;
}

#intro P {
  color: #5c5c5c;
  margin:0 0 1em 0;  
}

#intro .enter_block {
  margin:40px 0 10px 0;
}

#intro .enter_block SPAN {
  color: #5c5c5c;
  margin:0 20px;
  font-size:95%;
}

#intro .enter_link {
  font-size:115%;
}

#intro .enter_link B {
  font-weight:normal;
}

#intro .ee {
  position:absolute;
  left:50%;
  top:73px;
  margin:0 0 0 -60px;
  width:120px;
  height:130px;
  display:block; 
  background:none; 
}

                         
#content {
  /*padding:50px 0 80px 0;*/
  padding:0;
  width:auto;
}

#content H2{
  text-align:center;
  font:200% 'etelka_thinregular';
  margin:0 0 0.5em 0;  
}

.new_service {
  padding:30px 0 0 0;
  width:908px;
}

.new_service LI {
  display:table-cell;
  width:200px;
  padding:0 100px 0 0;
  vertical-align:top; 
}

.new_service LI IMG {
  width:72px;
  height:77px;
}

.new_service LI H3 {
  margin:0.6em 0 0 0;
  font:125% 'etelka_mediumregular'; 
  height:2.5em;    
}

.new_service LI H3 SPAN {
  height:2.5em;
  display:table-cell;
  vertical-align:middle;    
}

.new_service LI P {
  color: #5c5c5c;
  height:8em;
  padding: 0 0 0.3em;        
}

.new_service LI P SPAN {
  height:8em;
  display:table-cell;
  vertical-align:middle;      
}

.new_service LI .fine {
  color:#ca0000;
}

.new_service LI .fine .ico_i{
  position:relative;
  top:2px;
  width:17px;
  height:18px;
}




/* feedback */
#content .title {
  height: 38px;
  margin: 30px 0;
  padding: 0px;
  border-bottom: none;
  width:100%;
  border-radius: 4px;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;  
}

#content .title IMG{
  width: 36px;
  height: 38px
}

#content .title H1{
  font-size: 2em;
  margin: 0;
}


.main FIELDSET{
  padding: 40px 0px 0px 0px;
  border-bottom: none;
}
.main FIELDSET:last-of-type{
  border-top: 1px solid #DBE2E6;
}

.main .big_inp-form FIELDSET{
    margin-bottom: 20px;
}

#content INPUT:focus,
#content TEXTAREA:focus{
  behavior: url(PIE.htc);
  box-shadow: 0px 0px 0px 4px rgba(173, 222, 255, 1);
  border: 1px solid #addeff;
}

#content INPUT.btn:focus{
  border: 1px solid transparent;
  box-shadow: none;
}

#content INPUT.btn.big{
  height: 52px;
}

#content INPUT.btn.small{
  margin-top: 0;
  font-size: 16px;
  padding: 0 18px;
}

#content FORM .btn-mr20_phone{
  margin-right: 0px;
}
#content FIELDSET LABEL{
  display: none;
}
.main FIELDSET .fr.btn_field{
  padding-right: 0;
}

.jq-selectbox__select{
  height: 60px;
  line-height: 60px;
}
.jq-selectbox__select-text{
  height: 60px;
}

.big_inp-form INPUT{
   height: 60px;
}

.big_inp-form INPUT.btn.small{
    height: 42px;
}
.big_inp-form LABEL{
  display: none;
}

.big_inp-form FIELDSET H3{
    margin: 12px 0 30px 0;
}

.big_inp-form .selector LI{
    padding: 12px 20px;
}

.big_inp-form .cover_info_title{
    margin-bottom: 14px;
}
.big_inp-form .cover_info_title p{
    margin-top: 20px;
}
.big_inp-form .cover_info_title .price{
  display: inline-block;
}
.big_inp-form .cover_info_title .selector{
    margin-top: 28px;
}

.big_inp-form .point_num{
    /*left: -12px;*/
    font-size: 32px;
}

.big_inp-form .field_cont{
    /*margin-right: -20px;*/
}


.info-block_wrap{
  margin:0 0 30px 0;
  padding:0 20px 0 0;
}

.info-block_wrap + .ticket{
  margin-top: 30px;
}
#content .info-block_wrap .info_block{
  border: 1px solid #d0d0d0;
  padding: 15px 68px 18px 20px;
  position: relative;
  margin: 0;
}
.info-block_wrap .info-block_h{
  margin-bottom: 16px;
}

.big_inp-form .field_name{
    color: #A5AEB3;
}
.info-block_wrap span.icomoon{
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 30px;
}
.info-block_wrap .type_1 span.icomoon{
  color: #f77975;
}
.info-block_wrap .type_2 span.icomoon{
  color: #FFC200;
}


/* quest-block */

.main.big_inp-form .q{
    width: 36px;
    height: 36px;
    border-radius: 18px;
    vertical-align: middle;
}
.main.big_inp-form .q:hover .q_hover{
  display: none;
}
.main.big_inp-form .q .ico{
    vertical-align: middle;
    line-height: 36px;
    padding: 14px;
}
.main.big_inp-form .q.closed .q_slick_wrap{
  display: none;
}
.main.big_inp-form .q_slick_wrap{
  position: relative;
  margin-top: 28px;
}
.main.big_inp-form .q_slick_wrap:before{
  position: absolute;
  display: block;
  content: '';
  left: 0;
  bottom: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 17.5px 18px 17.5px;
  border-color: transparent transparent #7a96ab transparent;
}
.main.big_inp-form .q.opened .slick-slider{
  display: block;
  left: -636px;
  width: 760px;
  top: 0px;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: visible; 
}
.main.big_inp-form .q.opened .slick-list{
  overflow: visible;
  width: 400px;
  margin: auto;
}
.main.big_inp-form .q.opened .slick-slide{
  display: inline-block;
  float: none;
  vertical-align: middle;
}
.main.big_inp-form .q.opened .slick-slider span{
  display: inline-block;  
}
.main.big_inp-form .q.opened .slick-slider img{
  border-radius: 8px;
}
.main.big_inp-form .q.opened .slick-prev,
.main.big_inp-form .q.opened .slick-next{
  height: 100%;
  top: 0;
}
.main.big_inp-form .q.opened .slick-prev:before,
.main.big_inp-form .q.opened .slick-next:before{
    content: '';
    width: 12px;
    height: 20px;
    display: inline-block;
  }
.main.big_inp-form .q.opened .slick-prev{
  left: 160px; 
}

.main.big_inp-form .q.opened .slick-next{
  right: 160px;
} 
  .main.big_inp-form .q.opened .slick-prev:before{
    background: url('../img/mobile/larr_white.png');
  }
  .main.big_inp-form .q.opened .slick-next:before{
    background: url('../img/mobile/rarr_white.png');
  }
.main.big_inp-form .q.opened .slick-dots{
  bottom: auto;
  top: 24px;
  left: 160px;
  text-align: left;
  white-space: nowrap;
}
.main.big_inp-form .q.opened .slick-dots li{
  display: none;
  margin: 0;
}
.main.big_inp-form .q.opened .slick-dots li.slick-active,
.main.big_inp-form .q.opened .slick-dots .dots-length{
  display: inline-block;
  padding-right: 4px;
  position: relative;
}
.main.big_inp-form .q.opened .slick-dots .dots-length{
  color: #fff;
  font: 14px Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-left: 4px;
}
.main.big_inp-form .q.opened .slick-dots li.slick-active button:after{
  content: '/';
  display: inline-block;
  /* margin-right: 3px; */
  position: absolute;
  right: 0;
}
.main.big_inp-form .q.opened .slick-dots button{
  color: #fff;
  font: 14px Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 0;
  text-align: right;
}
.main.big_inp-form .q.opened .slick-dots button:before{
  content: "";
  display: none;
}

/* /quest-block */


.main FIELDSET .clear .fr {
    padding: 0;
}

.ticket {
    margin: 0;
    padding:0;
    font-size: 15px;
    border:none;
}

.ticket .limiter {
    position:relative;
    padding: 30px 20px 30px 50px;
}

.ticket .limiter:before {
    display:block;
    position:relative; 
    top:-30px;
    content:'';
    border-top:1px solid #C8C7CC;
}

.ticket .sub_title .btn_cover_r{
    top: -10px;
}
.ticket .sub_title{
    margin-bottom: 20px;
    padding-right: 126px;
}


.ticket DL {
  width:100%;
}
.ticket DT{
    width:50%;
    max-width:150px;
}

.ticket DD{
  padding: 0 220px 0 40px;
}

.mobile_proverka_sudebnyh_zadoljennostey .ticket DD{
  padding:0 0 20px 0;
}

.ticket dt,
.ticket dd{
    padding-bottom: 20px;
    position: relative;
}
dd .popup_link{
  position: absolute;
  top: 0;
  right: -116px;
  margin: 0;
}
.ticket dd .popup_link .btn{

}
.ticket dd .popup_link B{
  height: 40px;
  line-height: 40px;
  padding: 0 18px;
  min-width: 111px;
  text-align: center;
}
.big_inp-form .slide_up:after, .big_inp-form .slide_down:after{
    right: -24px;
}
.big_inp-form  .ticket .money{
    font-size: 18px;
}

.popup H2 {
  padding:0 60px;
}

.popup .white.btn {
  display:none;
}

.popup .ticket {
  border:none;
  position:relative;
  margin:0 -40px;
  padding:30px 0 0 0;
}

.popup .ticket DL {
  width:100%;
}

.popup .ticket .brd {
  border-top:1px solid #C8C7CC;
}

.popup .ticket .brd DD:after{
  content: "";
  position: absolute;
  right: 30px;
  top: 50%;
  background: url('../img/rarr.png') no-repeat;
  width: 13px;
  height: 21px;
  margin-top:-8px;
  background-size: 65%;
}

.popup .ticket .brd + DIV {
  border-bottom:1px solid #C8C7CC;
  border-top:1px solid #C8C7CC; 
  margin:0 0 20px 0; 
}

.popup .ticket .brd DT {
  padding-top:20px;
  color:#000; 
}

.popup .ticket .brd DD {
  padding-top:20px;
}

.popup .ticket DT {
  padding:0px 40px 20px 40px; 
  text-align:left;
}

.popup .ticket DD {
  padding:0px 60px 20px 0px;
  text-align:left;  
}

.popup .clear.brd {
  padding:20px 40px 0 40px; 
}

.popup .clear.brd B {
  line-height:40px;
  font-size:18px;
  padding:0 20px 0 0;
}

.popup .clear.brd .btn {
  margin:0; 
}


.switcher_cont{
  padding: 40px 0;
  white-space: nowrap;
  border-top: 1px solid #DBE2E6;
  border-bottom: 1px solid #DBE2E6;
  height: 38px;  
}

.switcher_cont .limiter{
    display:table; 
}

.switcher_cont .switcher_h{
    display: table-cell;
    margin: 0;
    vertical-align: middle;
    font-size: 0.94em;
    border-bottom: none;
}
.switcher_cont EM{
    display: table-cell;
    vertical-align: middle;
    padding:0 30px;    
}

.switcher_cont .switcher{
    position: relative;
    top: 0;
    left: 0;
}

.switcher_cont .switcher_txt{
    width:100%;
    display: table-cell;
    white-space: normal;
    font-size: 14px;
    color: #A5AEB3;
    vertical-align: middle;
}
.switcher_cont .switcher_txt p{
  display: inline-block;
}


.social_wrap-b .social{
    height: 56px;
    padding: 40px 0;
    display: inline-block;
    white-space: nowrap;
    margin-bottom: 0;
} 
.social-ico_cont{
  display: inline-block;
}
.social_wrap-b B{
    color: #74777F;
    font-size: 15px;
    display: table-cell;
    white-space: normal;
    vertical-align: middle;
    padding-right: 26px;
}
.social_wrap-b A{
    border: 1px solid #DBE2E6;
    border-radius: 4px;
    margin-left: 0;
    margin-right: 26px;
}
.social_wrap-b SPAN{
    font-size: 56px;
    color: #565656;
}

.advice{
    border-top: 1px solid #DBE2E6;
    border-bottom: 1px solid #DBE2E6;
    padding: 64px 0px 22px 157px;
    background-position: 50px 40px;
    margin: 0; 
}
.advice .advice_h{
  margin-left: -90px;
}
.advice_ico{
  height: 74px;
  width: 74px;
  border-radius: 36px;
}
.advice SPAN.icomoon{
  line-height: 50px;
}
#content .advice H2{
  margin-left: 90px;
  text-align: left;
}
.advice P{
    color: #5A6473;
    font-size: 16px;
    line-height: 1.63em;
    margin-bottom: 30px;
}
.advice FORM{
    margin: 12px 0 0px;   
}
.advice FIELDSET{
  border-top: none;
  margin-bottom: 18px;
}
.advice .wrapper{
  margin-top: 30px;
}
.advice .wrapper:first-child{
  margin-top: 0px;
}
.advice INPUT{
    height: 60px;
}





.jq-file{
  box-shadow: none;
  width: 74px;
  float: left;
}

.jq-file__name{
  display: none;
}

.jq-file__browse,
.file-loader_square{
  width: 72px;
  height: 72px;
  position: relative;
  top: 0;
  right: 0;
  border: 1px solid #d0d0d0;
  padding: 0;
  background: transparent;
  display: inline-block;
}

.jq-file__browse{
  text-indent: -9999px;
}

.jq-file__browse:before{
  content: "";
  background: url('../img/mobile/ico_cross.png') no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 17px;
  left: 17px;
}

.file-sidebar_right{
  margin-left: 90px;
  margin-top: 16px;
}

.file-sidebar_right LABEL{
  margin: 0;
  display: block;
}

.file-sidebar_right .sub_txt{
  color: #A5AEB3;
  font-size: 14px;
  margin-top: 10px;
  font-weight: normal;
}

.file-loader_square{
  text-align: center;
  line-height: 74px;
  border-radius: 4px;
}

.file-loader_square .file_progress_line{
  width: 50px;
  height: 8px;
  border: 1px solid #eeeff0;
  vertical-align: bottom;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.file-loader_square .file_progress_line SPAN{
  background: #689f38;
  width: 40%;
  display: block;
  height: 10px;
  margin-top: -1px;
  border-radius: 5px;
}

.file_progress .file_name{
  display: inline-block;
  font-size: 18px;
  color: #74777F;
  width: 80%;
  margin-top: 28px;
  padding-bottom: 10px;
}

.file_progress .file_progress-cont{
  margin-left: 90px;
  border-bottom: 1px solid #cdd1d4;
  min-height: 80px;
  margin-bottom: -2px;
}

.file_progress .file_close{
  display: inline-block;
  margin-top: 16px;
  margin-right: -8px;
  width: 43px;
  height: 43px;
  display: inline-block;
  cursor: pointer;
  background: url('../img/ico_close.png') 0 0 no-repeat;
  background-size: 88%;
} 

.file_progress .file_close:hover{
  background: url('../img/ico_close_hover.png') 0 0 no-repeat;
  background-size: 88%;
}

.file_progress .file_close:active{
  background: url('../img/ico_close_active.png') 0 0 no-repeat;
  background-size: 88%;
}

.file_progress .file_error{
  line-height: 1;
  color: #d0021b;
  font-size: 14px;
}

.file_progress .file_error:before{
  content: '';
  background: url('../img/mobile/ico_stop.png') no-repeat center;
  width: 36px;
  height: 36px;
  background-size: 50%;
  display: inline-block;
}

.jq-file.disabled + .file-sidebar_right LABEL{
  color: #dd191d;
  margin-top: 28px;
  display: block;
}

.jq-checkbox,
.jq-checkbox.checked .jq-checkbox__div{
  width: 24px;
  height: 24px;
}


/* obratnaya_svyaz */

.obratnaya_svyaz FIELDSET H3{
  margin-bottom: 18px;
}

/* /obratnaya_svyaz */


#content{
  padding: 0;
  margin-bottom: 40px;
}

FIELDSET{
    border-top: 1px solid #DBE2E6;
}
.field_name{
    margin-top: 4px;
}




#footer UL {
  width: 945px;
}

#footer LI.left {
  padding:0 0 0 70px;
  background: url("../img/mobile/logo_arms.png") 0 50% no-repeat; 
  background-size: 34px 42px; 
  width:260px;      
}

#footer LI.right {
  padding:0 70px 0 0;  
  text-align:left;
  background: url("../img/mobile/logo_rostelecom.png") 100% 50% no-repeat; 
  background-size: 49px 40px; 
  width:685px;     
}

#footer .bottom_link {
  width: 945px;
  margin:0 auto;
  position:relative;
}

#footer .bottom_link .cover {
  position:absolute;
  top:2.8em;
  left:320px;
  z-index:2;
}

#footer .bottom_link A {
  padding:0 0 0 30px;
  position:relative;
}

#footer .call_link {
  margin:0 30px 0 0;  
}

#footer .call_link:before {
  position:absolute;
  display:block;
  content:'';
  width:17px;
  height:17px;
  background: url('../img/mobile/ico_call.png') 0 0 no-repeat; 
  background-size: cover;
  left:0px;
  top:2px;
}

#footer .feedback_link {
  margin:0 30px 0 0;    
}

#footer .feedback_link:before {
  position:absolute;
  display:block;
  content:'';
  width:17px;
  height:16px;
  background: url('../img/mobile/ico_cloud_txt.png') 0 0 no-repeat; 
  background-size: cover;
  left:0px;
  top:2px;
}

#footer .mail_link:before {
  position:absolute;
  display:block;
  content:'';
  width:17px;
  height:14px;
  background: url('../img/mobile/ico_mail.png') 0 0 no-repeat; 
  background-size: 17px 14px;
  left:0px;
  top:2px;
}

.btn{
  margin:0;
}

.btn B {
  height:50px;
  line-height:50px;  
}

.btn-cont_inner .limiter {
  padding:0;
}

  .menu_btn_cover,
  #header .nav {
  max-width:945px;
  width: 90%;
  }
  
  .popup {
  max-width:945px;
  width: 90%;
    margin: 0 0 0 -344px;
  }  

  #intro .txt {
      margin: 0 auto;
  max-width:945px;
  width: 90%;
  }
  
  #content .new_service {
    width:100%;
  }   
  
  #content .new_service LI {
    display:block;
    width:100%;
    padding:0;
    border-top:1px solid #d0d0d0;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1) inset; 
    cursor:pointer;   
  }
  
  #content .new_service LI.last {
    border-bottom:1px solid #d0d0d0;
  }
  
  #content .new_service LI DIV.cover {
    background-size: 8px 12px;            
    background: url('../img/mobile/ico_rarr_gray.png') 100% 50% no-repeat; 
    margin:0 auto;
    padding:0 45px 0 110px; 
    position:relative;  
    width:444px;
  }
  
  #content .new_service LI DIV.cover DIV {
    display:table-cell;
    height:150px;          
    vertical-align:middle;
  }    
  
  #content .new_service LI IMG {
    left:0;
    position:absolute;
    top:35px;     
  }
  
  #content .new_service LI .ico_i{
    position:relative;
    top:2px;
    width:17px;
    height:18px;
  }  
  
  #content .new_service LI .btn {
    display:none;    
  }
  
  .new_service LI H3 {
      height:auto;
      margin:0 0 0.3em 0;
  } 
  
  .new_service LI H3 SPAN {
      height:auto;
      margin:0;
  }
  
  .new_service LI P {
      height:auto;
      margin:0;
  }   
  
  .new_service LI P SPAN {
      height:auto;
      margin:0;
  }               



  /* feedback */

  #content .title.no-ico{
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
  }
  #content .title.no-ico h1{
    font-size: 2em;
  }
  .big_inp-form .point_num{
    left: 0;
  }

  .obratnaya_svyaz FIELDSET H3{
    margin-bottom: 18px;
  }

  INPUT:focus,
  TEXTAREA:focus{
    behavior: url(PIE.htc);
    box-shadow: 0px 0px 0px 1px rgba(173, 222, 255, 1);
    border: 1px solid #addeff;
  }

  .ticket dt{
    width: 225px;
  }
  .ticket dd{
    width: 245px;
  }

  .jq-file{
    box-shadow: none;
    width: 74px;
    float: left;
  }
  .jq-file__name{
    display: none;
  }
  .jq-file__browse,
  .file-loader_square{
    background: transparent;
    border: 1px solid #d0d0d0;
    display: inline-block;
    height: 72px;
    padding: 0;
    position: relative;
    right: 0;
    top: 0;
    width: 72px;
  }
  .jq-file__browse{
    text-indent: -9999px;
  }
  .jq-file__browse:before{
    content: "";
    background: url('../img/mobile/ico_cross.png') no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 17px;
    left: 17px;
  }
  .file-sidebar_right{
    margin-left: 90px;
    margin-top: 16px;
  }
  .file-sidebar_right LABEL{
    margin: 0;
    display: block;
  }
  .file-sidebar_right .sub_txt{
    color: #A5AEB3;
    font-size: 14px;
    margin-top: 10px;
    font-weight: normal;
  }

  .file-loader_square{
    text-align: center;
    line-height: 74px;
    border-radius: 4px;
  }
  .file-loader_square .file_progress_line{
    width: 50px;
    height: 8px;
    border: 1px solid #eeeff0;
    vertical-align: bottom;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
  }
  .file-loader_square .file_progress_line SPAN{
    background: #689f38;
    width: 40%;
    display: block;
    height: 10px;
    margin-top: -1px;
    border-radius: 5px;
  }

  .file_progress .file_name{
    display: inline-block;
    font-size: 18px;
    color: #74777F;
    width: 80%;
    margin-top: 28px;
    padding-bottom: 10px;
  }
  .file_progress .file_progress-cont{
    margin-left: 88px;
    border-bottom: 1px solid #cdd1d4;
    min-height: 80px;
    margin-bottom: -2px;
  }
  .file_progress .file_close{
    display: inline-block;
    margin-top: 16px;
    margin-right: -8px;
    width: 43px;
    height: 43px;
    display: inline-block;
    cursor: pointer;
    background: url('../img/ico_close.png') 0 0 no-repeat;
    background-size: 88%;
  } 
  .file_progress .file_close:hover{
    background: url('../img/ico_close_hover.png') 0 0 no-repeat;
    background-size: 88%;
  }
  .file_progress .file_close:active{
    background: url('../img/ico_close_active.png') 0 0 no-repeat;
    background-size: 88%;
  }

  .file_progress .file_error{
    line-height: 1;
    color: #d0021b;
    font-size: 14px;
  }
  .file_progress .file_error:before{
    content: '';
    background: url('../img/mobile/ico_stop.png') no-repeat center;
    width: 36px;
    height: 36px;
    background-size: 50%;
    display: inline-block;
  }

  .jq-file.disabled + .file-sidebar_right LABEL{
    color: #dd191d;
    margin-top: 28px;
    display: block;
  }


  #content .title.medium{
    margin-top: 30px;
  }

  .field_cont .l_33{
    width: 100%;
  }

  .ticket .sub_title .fl{
    width: 65%;
    line-height: 22px;
  }
  .ticket .sub_title{
    padding-right: 130px;
  }


  #footer .bottom_link {
  max-width:945px;
  width: 90%;
  }
  
  #footer .bottom_link .cover {
    position:relative;
    top:0;
    left:0;
    border-bottom:1px solid #d0d0d0;
    height:60px;
    line-height:60px;
  }
  
  #footer .bottom_link EM {
    width:33.3%;
    display:inline-block;
    text-align:center;
  }
  
  #footer .bottom_link EM.first {
    text-align:left;
  } 
  
  #footer .bottom_link EM.last {
    text-align:right;
  } 
       

  #footer UL {
  max-width:945px;
  width: 90%;
    font-size:110%;
  }
  
  #footer UL LI {
    height:75px;
  }  
  
  #footer LI.left {
    max-width:945px;
    width: 90%;
    text-align: center;  
  }
  
  #footer LI.right {
    width:55px; 
  }  
  .main.big_inp-form .q.opened .slick-slider{
    width: 602px;
    left: -504px;
  }
  .main.big_inp-form .q.opened .slick-next{
    right: 90px;
  }
  .main.big_inp-form .q.opened .slick-prev{
    left: 90px;
  }
  .main.big_inp-form .q.opened .slick-dots{
    left: 100px;
  }

 








































/*Phone Portrait*/
@media (max-width:640px) {

  BODY {
    overflow-x:hidden;
  }
  

  .limiter {
    width: 280px;
    padding:0;
  }  

  #header .nav {
    width: 280px;
  }
  
  #header LI.col_2,
  #header .exit,
  #intro H2,
  #intro .enter_block SPAN {
    display:none;
  }
  
  .popup {
    width: 100%;
    height:100%;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    border-radius: 0px;    
    margin: 0;
    left:0;
    top:0;
    padding:20px;
    max-height: 100%;
    overflow-y: auto;
  }
  
  .popup .close_popup_x  {
    display:none;
  }
  
  .popup .white.btn {
    display:inline-block;
  }
  
  .popup H2 {
    text-align:left;
    padding:0;
  }
  
  .popup H3 {
    text-align:left;
  }  

  .popup P {
    text-align:left;
  }  

  .popup .ticket {
    margin: 0;
    padding: 0;
  } 
  
  .popup .ticket .brd {
    border-top: 1px solid #c8c7cc;
    padding:0 20px;
    margin:0 -20px;
  }
  
  .popup .ticket .clear.brd {
    padding:20px;
  }    

  .popup .ticket .brd DT,
  .popup .ticket .brd DD {
    padding-top: 10px;
  } 
  
  .popup .ticket .brd + DIV {
    margin: 0 -20px 20px -20px;
  }    
  
  .popup .ticket DL {
    width:auto;
    padding:10px 20px;
  }  
  
  .popup .ticket DL DT {
    display:block;
    padding:0px;
    width:100%;
  } 
  
  .popup .ticket DL DD {
    display:block;
    padding:0px;
    width:100%;    
  } 
  

  .popup .ticket .brd DD:after {
      margin-top: 3px;
      right: -30px;
      top: 0%;
  }      

  /* Header top menu */
  
  .menu_btn_cover {
    width:250px;
    height:100%;
    background:#fff;
    position:absolute;
    right:-250px;
  } 
  
  .menu_btn_cover.hide {
    right:-250px!important;
  }   

  .menu {
    margin:12px 0 0 0;
    padding: 0 0 0 20px; 
    background: url('../img/mobile/ico_mobile_menu.png') 0 5px no-repeat; 
    background-size: 12px 12px;   
    display: inline-block!important;
    cursor: pointer;
    font-size:115%;     
  }
  
  #menu_btn.opened,
  #menu_btn.closed{ border:none; height:100%; top:0;border-left: 1px solid #DBE2E6;}
  #menu_btn.opened .exit,
  #menu_btn.closed .exit {background:none; border-bottom: 1px solid #ddd;}
  #menu_btn.closed .submenu,
  #menu_btn.opened .submenu {top: 0px;}  
  
  #header .logo {
    width: 100px;
    height:auto;
    margin:11px 0 0 0;
  } 
  
  #header .nav LI {
    height: 50px;
  }  
  
  #intro {
    padding:30px 0 0 0;
    background:#e1edf5 url('../img/mobile/mobile_intro_bg.png') 50% -460px no-repeat; 
    background-size: 761px 786px;  
    margin:0;   
  }        

  #intro .txt {
    font-size:90%;
    width: 285px;
  }
  

  #intro .enter_block .btn {
      margin:0 0 20px 0;
      width:100%;
  }  
  
  #intro .enter_block .enter_link {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #d0d0d0;
    color: #565656;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    line-height: 1em;
    margin: 0 0 30px; 
    width:100%;     
  } 
  
  #intro .enter_block .enter_link:hover {
    background:#f5f5f5;
  } 
  
  #intro .enter_block .enter_link:active {
    background:#e0e0e0;
  }     
  
  #intro .enter_block .enter_link B {
    height:50px;
    line-height:50px;    
  } 
  
  #intro .enter_block {
    margin:10px 0;
  }
  
  #content {
    padding: 20px 0 0 0;
    /*width: 320px;*/
  }      
  #content .title{
    padding: 0;
    margin:0 0 20px 0;
  }
  #content .title IMG{
    width: 32px;
    height: auto;
    margin-right: 15px;
    vertical-align: middle;
    position: static;
    display: inline-block;
  }
  #content .title H1{
    font-size: 21px;
    display: inline-block;
    vertical-align: text-top;
    width:225px;
  }

  #content H2 {
    font-size:100%;
    width:285px;
  }
  
  #content .new_service LI DIV.cover {
    padding: 0 25px 0 55px;
    width: 205px;
  }
  
  #content .new_service LI DIV.cover DIV {
    min-height:75px;
    height: auto;
  }
  
  .new_service LI H3 {
    font:100% 'etelka_mediumregular';
  }
  
  #content .new_service LI P {
    font-size:85%;
    padding:0;
    margin:0 0 1.3em 0;
  }         
  
  #content .new_service LI IMG {
    top:15px;
    height:42px;
    width:41px;
  } 


  #content .title.no-ico{
    margin: 0;
    padding: 0;
    margin-bottom: 4px;  
    padding-left: 20px;
    height: 36px;
  }
  #content .title.no-ico H1{
    font-size: 1.125em;  
    margin-top: 0;
  }

  
  .big_inp-form .point_num{
    font-size: 22px;
    top: -3px;
  }

  #content .field_cont{
    margin-right: 0;
  }

  #content FIELDSET LABEL{
    display: block;
    margin: 0 0 6px 0;
    color: #A5AEB3;
    font-size: 14px Arial, "Helvetica Neue", Helvetica, sans-serif;
  }

  .big_inp-form INPUT,
  .jq-selectbox__select{
    height: 50px;
    padding: 0 15px;
  }
  .big_inp-form INPUT::-webkit-input-placeholder{
    color: transparent;
  }
  .big_inp-form INPUT:-moz-placeholder{
    color: transparent;
  }

  .jq-selectbox__select{
    line-height: 54px;
  }

  .big_inp-form FIELDSET H3{
    font-size: 17px;
    margin:0 0 20px 30px;
  }
  

  #content FIELDSET{
    padding: 26px 0px 10px;
    margin-bottom: 0;
    border-top: 1px solid #DBE2E6;
  }


  .info-block_wrap{
    margin: 0 0 15px 0;
    padding:0;
  }
  #content .info-block_wrap .info_block{
    padding: 15px;
  }
  
  .mobile_proverka_sudebnyh_zadoljennostey .wrapper.l_33{
    width:100%;
  }
  
  .mobile_nalogovaya_zadoljennost .wrapper.l_33,
  .mobile_nalogovaya_zadoljennost .wrapper.l_50 {
    width:100%;
  }
  
  .mobile_nalogovaya_zadoljennost .wrapper .btn {
    width:100%;
    text-align:center;
  }
  
  .mobile_nalogovaya_zadoljennost .btn.larr {
    width:100%;
    text-align:center;
  }  
  
  .mobile_nalogovaya_zadoljennost .clear .fr {
    float:none;
}
  .mobile_gibdd_shtrafy .wrapper.l_50{
    width: 100%;
  }

  .mobile_nalogovaya_zadoljennost .btn-cont_inner.mobile_morpf{
    position: relative;
    height: 148px;
  }
    .mobile_nalogovaya_zadoljennost .btn-cont_inner.mobile_morpf .btn.larr{
      position: absolute;
      bottom: 20px;
      width: 1024px;
      margin-left: -525px;
      left: 50%;
    }
    .mobile_nalogovaya_zadoljennost .btn-cont_inner.mobile_morpf .btn.larr:after{
      content: '6';
      font: 14px 'icomoon-epga';
      position: absolute;
      top: 18px;
      left: 50%;
      margin-left: -130px;
    }
    .mobile_nalogovaya_zadoljennost .btn-cont_inner.mobile_morpf .btn.larr B{
      text-align: right;
      width: 280px;      
    }

    .mobile_nalogovaya_zadoljennost .btn-cont_inner.mobile_morpf .fr{
      position: absolute;
      top: 0;
    }
  .mobile_nalogovaya_zadoljennost .mobile_morpf{
    height: 50px;
    margin: 5px 0 15px;
  }
  .mobile_nalogovaya_zadoljennost .mobile_morpf .btn.mobile_morpf{
    border: 1px solid #d0d0d0;
    background: #fff;    
    text-align: center;
    position: absolute;
    width: 1024px;
    margin-left: -517px;
    left: 50%;
  }
  .mobile_nalogovaya_zadoljennost .mobile_morpf .btn.mobile_morpf b{
    color: #565656;
    text-align: center;
    margin-left: -170px;
  }
  .mobile_nalogovaya_zadoljennost .mobile_morpf .btn.mobile_morpf  b:after{
    content: '5';
    font: 14px 'icomoon-epga';
    position: absolute;
    top: 18px;
    left: 50%;
    margin-left: 130px;
  }
    .mobile_nalogovaya_zadoljennost #content .mobile_morpf + .btn-cont_inner input{
      margin-top: 12px;
      margin-bottom: 24px;
    }

  .mobile_nalogovaya_zadoljennost #content .mobile_morpf .wrapper {
    position:static;
  }

  .wrapper{
    margin:0 0 15px 0;
    padding:0px;
  }

  .obratnaya_svyaz FIELDSET H3{
    margin-bottom: 16px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.2em;
  }

  #content INPUT.btn.big{
    height: 50px;
    font-size: 18px;
    padding: 0 20px;
    margin:5px 0 15px 0;
  }
  

  #content FIELDSET .btn_field {
    width:100%;
  }  
  
  TEXTAREA{
    min-height: 88px; 
    font-size: 12px;
    padding: 8px 10px;
  }

  INPUT:focus,
  TEXTAREA:focus{
    box-shadow: 0px 0px 0px 1px rgba(173, 222, 255, 1);
    border: 1px solid #addeff;
  }
  
  TEXTAREA:-ms-input-placeholder,
  INPUT:-ms-input-placeholder {color:#fff;}  
  
  TEXTAREA::-moz-placeholder,
  INPUT::-moz-placeholder {color:#fff;}
  
  TEXTAREA::-webkit-input-placeholder,
  INPUT::-webkit-input-placeholder {color:#fff;}


  .main.big_inp-form .q{
    width: 34px;
    height: 34px;
    left:5px;
  }
  .main.big_inp-form .q .ico{
    line-height: 34px;
  }


  .big_inp-form .cover_info_title{
    margin:0;
  }
  .big_inp-form .cover_info_title p{
    display: block;
    font-size: 14px;
    margin:0 0 15px 0;
  }
  .big_inp-form .cover_info_title .price{
    display: block;
    font-size: 18px;
    padding-top: 4px;
}
  .big_inp-form .cover_info_title .selector{
    margin:15px 0 15px -10px;
    white-space: nowrap;
  }
  .big_inp-form .selector LI:first-child{
    margin-left: 0;
  }
  .big_inp-form .selector LI{
    padding: 8px 8px;
    min-width: 84px;
    float: none;
    display: inline-block;
    margin-left: -4px;
  }
  .big_inp-form .selector .num{
    display: none;
  }

  .switcher_cont{
    padding: 24px 20px;
    overflow: hidden;
  }
  .switcher_cont .switcher_h{
    height: 38px;
    padding: 0;
    font-size: 15px;
  }
  .switcher_cont .switcher{
    float: right;
    width:86px;
  }
  .switcher_cont .switcher_txt{
    display: block;
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
    float: left;
  } 
  
  .switcher_cont EM {
      padding: 0;
      width: 100%;
  }  

  .ticket{
    position: relative;
    padding: 0;
    margin-right: 0;
    border-top: 1px solid #d0d0d0;    
  }
  .ticket .sub_title{
    position: static;
    padding-right: 0;
    font-size: 15px;
    margin-bottom: 16px;
  }
  .ticket .sub_title .fl{
    width: 280px;
    line-height: 20px;    
  }
  .ticket .money{
    position: absolute;
    bottom: 30px;
    left: 0px;
  }
  .ticket .sub_title .btn_cover_r{
    position: absolute;
    bottom: 20px;
    right: 0px;
    top: auto;
  }
  .ticket .sub_title .btn_cover_r INPUT{
    margin-bottom: 0;
  }
  .ticket DL DD{
    width: 255px;
    display:block;
    padding:0 0 40px 0!important;
    line-height: 21px;    
  }
  .ticket DL DT{
    display: none;
  }
  .ticket DL DD .popup_link{
    display: none;
  }
  .ticket DL.ticket_date DD{
    font-size: 12px;
    position: absolute;
    top: 12px;
  }
  .ticket .pseudo.popup_link{
    display: none;
  }
  .ticket .more_info{
    display: none;
  }
  .ticket .status.pd{
    position: absolute;
    right: 20px;
    bottom: 25px;
  }
  .ticket .status.processing{
    position: absolute;
    right: 20px;
    bottom: 25px;
  }
  
  .ticket .limiter {
      padding: 35px 0;
      position: relative;
  }  

  .ticket .limiter:before {
      display: none;
  }

  .social_wrap-b{
    margin: 0 0 15px 0;
  }
  .social_wrap-b .social{
    height: auto;
    padding:0;
    margin:0 0 15px 0;
  }
  .social_wrap-b B{
    width:100%;
    line-height: 18px;
    display:block;
    margin:15px 0;
  }
  .social-ico_cont{
    margin-left: 0px;
    margin-top: 16px;
    display: block;
  }
  .social_wrap-b SPAN{
    font-size: 50px;
  }
  .social_wrap-b A{
    margin-right: 16px;
  }
  
  

  .switcher .cover DIV {
      height: 34px;
  }
  .switcher .left, .switcher .right {
      line-height: 34px;
      width:50px;
  }
  
  .switcher .movable {
      height: 34px;
      width: 34px;
  }    

  .advice{
    padding: 22px 10px 20px 20px;
  }
  .advice .advice_h{
    margin-bottom: 12px;
    margin-left: 0px;
  }
  #content .advice H2{
    font-size: 21px;
    margin-left: 64px;
    line-height: 54px;
  }
  #content .advice H2 SPAN{
    line-height: 24px;
    vertical-align: middle;  
    display: inline-block;
}
  .advice P{
    font-size: 14px; 
    margin-top: 16px;
    line-height: 22px;
    margin-bottom: 0; 
  }
  .advice_ico{
    width: 48px;
    height: 48px;
    border-radius: 24px;
    border-width: 8px;
    margin-top: 0;
  }
  .advice SPAN.icomoon{
    line-height: 32px;
  }
    .advice.type_not SPAN.icomoon{
      font-size: 20px;
    }
    .advice.type_like SPAN.icomoon{
      font-size: 22px;
    }
    .advice.type_ok SPAN.icomoon{
      font-size: 18px;
    }

  
  .mobile_gibdd_shtrafy #content .advice FORM{
    margin-top: 14px;  
    margin-bottom: 0;
  }
  .mobile_gibdd_shtrafy #content .advice FIELDSET{
    border-top: none;
    padding: 0;
    margin-bottom: 0;
  }
  #content .advice .wrapper{
    margin-top: 14px;
  }
  #content .advice INPUT{
    height: 50px;
    margin-bottom: 0px;
  }

  .placeholder_small{
    display: none;
  }
  
  .btn-cont_inner .btn{

  }


  .jq-file{
    box-shadow: none;
    width: 53px;
    float: left;
  }
  .jq-file__name{
    display: none;
  }
  .jq-file__browse,
  .file-loader_square{
    width: 51px;
    height: 51px;
    position: relative;
    top: 0;
    right: 0;
    border: 1px solid #d0d0d0;
    padding: 0;
    background: transparent;
    display: inline-block;
  }
  .jq-file__browse{
    text-indent: -9999px;
  }
  .jq-file__browse:before{
    content: "";
    background: url('../img/mobile/ico_cross.png') no-repeat;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 17px;
    background-size: 100%;
    left: 17px;
  }
  .file-sidebar_right{
    margin-left: 62px;
    margin-top: 8px;
  }
  .file-sidebar_right LABEL{
    margin: 0;
    display: block;
  
    font-size: 14px;
}
  .file-sidebar_right .sub_txt{
    color: #A5AEB3;
    font-size: 12px;
    margin-top: 4px;
    font-weight: normal;
  }

  .file-loader_square{
    text-align: center;
    line-height: 53px;
    border-radius: 4px;
  }
  .file-loader_square IMG{
    width: 47px;
  }
  .file-loader_square .file_progress_line{
    width: 40px;
    height: 8px;
    border: 1px solid #eeeff0;
    vertical-align: bottom;
    display: inline-block;
    margin-bottom: 6px;
    border-radius: 5px;
    overflow: hidden;
  }
  .file-loader_square .file_progress_line SPAN{
    background: #689f38;
    width: 40%;
    display: block;
    height: 10px;
    margin-top: -1px;
    border-radius: 5px;
  }

  .file_progress .file_name{
    display: inline-block;
    font-size: 14px;
    color: #74777F;
    width: 80%;
    margin-top: 20px;
    padding-bottom: 19px;
    max-width: 170px;
    overflow: hidden;
    white-space: nowrap;
  }
  .file_progress .file_name:before{
    content: "";
  }
  .file_progress .file_progress-cont{
    margin-left: 64px;
    border-bottom: 1px solid #cdd1d4;
    min-height: 53px;
    margin-bottom: -2px;
  }
  .file_progress .file_close{
    display: inline-block;
    margin-top: 16px;
    margin-right: 0px;
    width: 24px;
    height: 24px;
    display: inline-block;
    cursor: pointer;
    background: url('../img/ico_close.png') 0 0 no-repeat;
    background-size: 100%;
  } 
  .file_progress .file_close:hover{
    background: url('../img/ico_close_hover.png') 0 0 no-repeat;
    background-size: 100%;
  }
  .file_progress .file_close:active{
    background: url('../img/ico_close_active.png') 0 0 no-repeat;
    background-size: 100%;
  }

  .file_progress .file_error{
    line-height: 1;
    color: #d0021b;
    font-size: 10px;
  
    font-weight: bold;
    margin-top: 6px;
  }
  .file_progress .file_error:before{
    content: '';
    background: url('../img/mobile/ico_stop.png') no-repeat center;
    width: 14px;
    height: 14px;
    background-size: 80%;
    display: inline-block;
  }

  .jq-file.disabled + .file-sidebar_right LABEL{
    color: #dd191d;
    margin-top: -6px;
    display: block;
  }
  .jq-file.disabled + .file-sidebar_right LABEL B{
    display: block;
  }

  .send_btn{
    margin-right: 20px;  
  }
  
  #footer .bottom_link {
    width: 285px;
  }
  
  #footer .bottom_link .cover {
    height: auto;
    line-height: 1em;
    padding:5px 0;
  }   
  
  #footer .bottom_link EM {
    text-align:left;
    width:100%;
    height:45px;
    line-height:45px;
  } 
  
  #footer .bottom_link EM.last {
    text-align: left;
  }     
  
  #footer UL {
    width: 285px;
  }
  
  #footer LI.left {
    padding:0 0 0 50px;
    background-size: 30px 36px;     
  }
  
  #footer LI.right {
    padding: 0 40px 0 0;
    background-size: 41px 34px;     
  }    
  
  #footer UL LI P {
    text-align:center;
    font-size:70%;
  }  



  .main.big_inp-form .q.opened .slick-slider{
    width: 400px;
    left: -294px;
  }
  .main.big_inp-form .q.opened .slick-slider img{
    width: 70%;
    display: inline-block;

  }
  .main.big_inp-form .q.opened .slick-next{
    right: 50px;
  }
  .main.big_inp-form .q.opened .slick-prev{
    left: 50px;
  }
  .main.big_inp-form .q.opened .slick-dots{
    left: 50px;
  }
     
}