/*Tablet Landscape*/

BODY {
  background:#fff;
  min-width:320px;
}

.cover {
  margin:0;
}

#menu_top_btn {
  width: 808px;
  margin: 0 auto;
  position: relative;
}

#menu_top_btn DIV {
  position: absolute;
  right: 0;
  top: 25px;
  z-index: 9;
} 

#header .menu {
  display:none;
}

#header .top {
  border-bottom: 1px solid #eee;
}

#header .logo {
  width: 150px;
  height:auto;
  margin:16px 0 0 0;
}

#header .nav {
  width: 945px;
}

#header .nav LI {
  height: 70px;
}


#header .catalog_link {
  display: inline-block;
  margin:25px 0 0 0;
  background: url('../img/mobile/link_larr.png') 0 4px no-repeat; 
  background-size: 8px 12px;
  padding:0 0 0 15px;   
}

#header LI.col_1 {
    width: 180px;
}

#header LI.col_2 {
    width: 180px;
}

#intro {
  padding:245px 0 40px 0;
  background:#e1edf5 url('../img/mobile/mobile_intro_bg.png') 50% -255px no-repeat; 
  background-size: 761px 786px;  
  text-align:center;
  margin:0 0 30px 0;   
}

#intro .txt {
  width:808px;
  margin:0 auto; 
}

#intro H2 {
  font:200% 'etelka_thinregular';
  margin:0 0 0.7em 0;
}

#intro P {
  color: #5c5c5c;
  margin:0 0 1em 0;  
}

#intro .enter_block {
  margin:40px 0 10px 0;
}

#intro .enter_block SPAN {
  color: #5c5c5c;
  margin:0 20px;
  font-size:95%;
}

#intro .enter_link {
  font-size:115%;
}

#intro .enter_link B {
  font-weight:normal;
}

#content {
  width:808px;
  padding:50px 0 80px 0;
}

#content H2{
  text-align:center;
  font:200% 'etelka_thinregular';
  margin:0 0 0.5em 0;  
}

.new_service {
  padding:30px 0 0 0;
  width:908px;
}

.new_service LI {
  display:table-cell;
  width:200px;
  padding:0 100px 0 0;
  vertical-align:top; 
}

.new_service LI IMG {
  width:72px;
  height:77px;
}

.new_service LI H3 {
  margin:0.6em 0 0 0;
  font:125% 'etelka_mediumregular'; 
  height:2.5em;    
}

.new_service LI H3 SPAN {
  height:2.5em;
  display:table-cell;
  vertical-align:middle;    
}

.new_service LI P {
  color: #5c5c5c;
  height:8em;
  padding: 0 0 0.3em;        
}

.new_service LI P SPAN {
  height:8em;
  display:table-cell;
  vertical-align:middle;      
}

.new_service LI .fine {
  color:#ca0000;
}

.new_service LI .fine .ico_i{
  position:relative;
  top:2px;
  width:17px;
  height:18px;
}




#content .title.no-ico{
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}

#content .title.medium{
  height: 38px;
  display: table;
  vertical-align: middle;
  margin: 20px -255px 20px 0;
  padding: 0 0 0 46px;
}

#content .title.medium IMG{
  width: 36px;
  height: 38px
}

#content .title.medium.no-ico H1,
#content .title.medium H1{
  font-size: 2em;
  margin: 0;
}

FORM .wrapper{
  margin: 0 0 14px 0;
}

FORM.big_inp-form .wrapper{
  margin: 16px 0 14px 0;
}

.main FIELDSET{
  padding: 20px 10px 4px 30px;
  margin-bottom: 10px;
}

.main .big_inp-form FIELDSET{
    margin-bottom: 20px;
}

INPUT:focus,
TEXTAREA:focus{
  behavior: url(PIE.htc);
  box-shadow: 0px 0px 0px 1px rgba(173, 222, 255, 1);
  border: 1px solid #addeff;
}

.big_inp-form INPUT{
   height: 60px;
}

.big_inp-form fieldset h3{
    margin: 12px 0 20px 0;
}

.big_inp-form .point_num{
    left: -7px;
    font-size: 32px;
}

.big_inp-form .field_cont{
    margin-right: -20px;
}

.info_bloc-w100.yellow{
    background: #FFF3AC;
    padding: 15px 68px 20px 20px;
    margin-bottom: 14px;
}

.big_inp-form .field_name{
    color: #A5AEB3;
    font-size: 12px;
}

.main.big_inp-form .q{
    width: 36px;
    height: 36px;
    border-radius: 18px;
    vertical-align: middle;
}
.main.big_inp-form .q .ico{
    vertical-align: middle;
    line-height: 36px;
}


.jq-file{
  box-shadow: none;
  width: 74px;
  float: left;
}

.jq-file__name{
  display: none;
}

.jq-file__browse,
.file-loader_square{
  width: 72px;
  height: 72px;
  position: relative;
  top: 0;
  right: 0;
  border: 1px solid #d0d0d0;
  padding: 0;
  background: transparent;
  display: inline-block;
}

.jq-file__browse{
  text-indent: -9999px;
}

.jq-file__browse:before{
  content: "";
  background: url('../img/mobile/ico_cross.png') no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 17px;
  left: 17px;
}

.file-sidebar_right{
  margin-left: 90px;
  margin-top: 16px;
}

.file-sidebar_right LABEL{
  margin: 0;
  display: block;
}

.file-sidebar_right .sub_txt{
  color: #A5AEB3;
  font-size: 14px;
  margin-top: 10px;
  font-weight: normal;
}

.file-loader_square{
  text-align: center;
  line-height: 74px;
  border-radius: 4px;
}

.file-loader_square .file_progress_line{
  width: 50px;
  height: 8px;
  border: 1px solid #eeeff0;
  vertical-align: bottom;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.file-loader_square .file_progress_line SPAN{
  background: #689f38;
  width: 40%;
  display: block;
  height: 10px;
  margin-top: -1px;
  border-radius: 5px;
}

.file_progress .file_name{
  display: inline-block;
  font-size: 18px;
  color: #74777F;
  width: 80%;
  margin-top: 28px;
  padding-bottom: 10px;
}

.file_progress .file_progress-cont{
  margin-left: 90px;
  border-bottom: 1px solid #cdd1d4;
  min-height: 80px;
  margin-bottom: -2px;
}

.file_progress .file_close{
  display: inline-block;
  margin-top: 16px;
  margin-right: -8px;
  width: 43px;
  height: 43px;
  display: inline-block;
  cursor: pointer;
  background: url('../img/ico_close.png') 0 0 no-repeat;
  background-size: 88%;
} 

.file_progress .file_close:hover{
  background: url('../img/ico_close_hover.png') 0 0 no-repeat;
  background-size: 88%;
}

.file_progress .file_close:active{
  background: url('../img/ico_close_active.png') 0 0 no-repeat;
  background-size: 88%;
}

.file_progress .file_error{
  line-height: 1;
  color: #d0021b;
  font-size: 14px;
}

.file_progress .file_error:before{
  content: '';
  background: url('../img/mobile/ico_stop.png') no-repeat center;
  width: 36px;
  height: 36px;
  background-size: 50%;
  display: inline-block;
}

.jq-file.disabled + .file-sidebar_right LABEL{
  color: #dd191d;
  margin-top: 28px;
  display: block;
}


/* obratnaya_svyaz */

.obratnaya_svyaz FIELDSET H3{
  margin-bottom: 18px;
}

/* /obratnaya_svyaz */


/* gibdd_shtrafy-tablet */

.gibdd_shtrafy-tablet #content{
  padding: 0;
}
.gibdd_shtrafy-tablet FORM{
  border-top: 1px solid #eff2f4;
  margin: 12px 0px 10px;
}
.gibdd_shtrafy-tablet .field_name{
    margin-top: 4px;
}
.big_inp-form .jq-selectbox__dropdown{
    background: #fff;
    width: 320px;
    border-radius: 10px;
}

/* /gibdd_shtrafy-tablet */


#footer UL {
  width: 945px;
}

#footer LI.left {
  padding:0 0 0 70px;
  background: url("../img/mobile/logo_arms.png") 0 50% no-repeat; 
  background-size: 34px 42px; 
  width:260px;      
}

#footer LI.right {
  padding:0 70px 0 0;  
  text-align:left;
  background: url("../img/mobile/logo_rostelecom.png") 100% 50% no-repeat; 
  background-size: 49px 40px; 
  width:685px;     
}

#footer .bottom_link {
  width: 945px;
  margin:0 auto;
  position:relative;
}

#footer .bottom_link .cover {
  position:absolute;
  top:2.8em;
  left:320px;
  z-index:2;
}

#footer .bottom_link A {
  padding:0 0 0 30px;
  position:relative;
}

#footer .call_link {
  margin:0 30px 0 0;  
}

#footer .call_link:before {
  position:absolute;
  display:block;
  content:'';
  width:17px;
  height:17px;
  background: url('../img/mobile/ico_call.png') 0 0 no-repeat; 
  background-size: cover;
  left:0px;
  top:2px;
}

#footer .feedback_link {
  margin:0 30px 0 0;    
}

#footer .feedback_link:before {
  position:absolute;
  display:block;
  content:'';
  width:17px;
  height:16px;
  background: url('../img/mobile/ico_cloud_txt.png') 0 0 no-repeat; 
  background-size: cover;
  left:0px;
  top:2px;
}

#footer .mail_link {
 
}

#footer .mail_link:before {
  position:absolute;
  display:block;
  content:'';
  width:17px;
  height:14px;
  background: url('../img/mobile/ico_mail.png') 0 0 no-repeat; 
  background-size: 17px 14px;
  left:0px;
  top:2px;
}

/**/
.btn B {
  height:50px;
  line-height:50px;  
}


/*Tablet Portrait*/
@media (max-width:1024px) {

  #menu_top_btn{
    width: 648px;
  }

  #header .nav {
    width: 600px;
  }

  #intro .txt {
      margin: 0 auto;
      width: 600px;
  }
  
  #content {
    width:648px;
  }
  
  #content h2 {
    margin:0 auto;
    width:600px;
  } 
  
  #content .new_service {
    width:100%;
  }   
  
  #content .new_service LI {
    display:block;
    width:100%;
    padding:0;
    border-top:1px solid #d0d0d0;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1) inset; 
    cursor:pointer;   
  }
  
  #content .new_service LI.last {
    border-bottom:1px solid #d0d0d0;
  }
  
  #content .new_service LI DIV.cover {
    background-size: 8px 12px;            
    background: url('../img/mobile/ico_rarr_gray.png') 100% 50% no-repeat; 
    margin:0 auto;
    padding:0 45px 0 110px; 
    position:relative;  
    width:444px;
  }
  
  #content .new_service LI DIV.cover DIV {
    display:table-cell;
    height:150px;          
    vertical-align:middle;
  }    
  
  #content .new_service LI IMG {
    left:0;
    position:absolute;
    top:35px;     
  }
  
  #content .new_service LI .ico_i{
    position:relative;
    top:2px;
    width:17px;
    height:18px;
  }  
  
  #content .new_service LI .btn {
    display:none;    
  }
  
  .new_service LI H3 {
      height:auto;
      margin:0 0 0.3em 0;
  } 
  
  .new_service LI H3 SPAN {
      height:auto;
      margin:0;
  }
  
  .new_service LI P {
      height:auto;
      margin:0;
  }   
  
  .new_service LI P SPAN {
      height:auto;
      margin:0;
  }               



  /* obratnaya_svyaz */

  #content .title.no-ico{
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
  }
  #content .title.no-ico h1{
    font-size: 2em;
  }

  FORM .wrapper{
    margin: 0 0 14px 0;
  }

  #content .main FIELDSET{
    padding: 30px 10px 30px 30px;
  }
  .obratnaya_svyaz FIELDSET H3{
    margin-bottom: 18px;
  }

  INPUT:focus,
  TEXTAREA:focus{
    behavior: url(PIE.htc);
    box-shadow: 0px 0px 0px 1px rgba(173, 222, 255, 1);
    border: 1px solid #addeff;
  }

  .jq-file{
    box-shadow: none;
    width: 74px;
    float: left;
  }
  .jq-file__name{
    display: none;
  }
  .jq-file__browse,
  .file-loader_square{
    background: transparent;
    border: 1px solid #d0d0d0;
    display: inline-block;
    height: 72px;
    padding: 0;
    position: relative;
    right: 0;
    top: 0;
    width: 72px;
  }
  .jq-file__browse{
    text-indent: -9999px;
  }
  .jq-file__browse:before{
    content: "";
    background: url('../img/mobile/ico_cross.png') no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 17px;
    left: 17px;
  }
  .file-sidebar_right{
    margin-left: 90px;
    margin-top: 16px;
  }
  .file-sidebar_right LABEL{
    margin: 0;
    display: block;
  }
  .file-sidebar_right .sub_txt{
    color: #A5AEB3;
    font-size: 14px;
    margin-top: 10px;
    font-weight: normal;
  }

  .file-loader_square{
    text-align: center;
    line-height: 74px;
    border-radius: 4px;
  }
  .file-loader_square .file_progress_line{
    width: 50px;
    height: 8px;
    border: 1px solid #eeeff0;
    vertical-align: bottom;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
  }
  .file-loader_square .file_progress_line span{
    background: #689f38;
    width: 40%;
    display: block;
    height: 10px;
    margin-top: -1px;
    border-radius: 5px;
  }

  .file_progress .file_name{
    display: inline-block;
    font-size: 18px;
    color: #74777F;
    width: 80%;
    margin-top: 28px;
    padding-bottom: 10px;
  }
  .file_progress .file_progress-cont{
    margin-left: 88px;
    border-bottom: 1px solid #cdd1d4;
    min-height: 80px;
    margin-bottom: -2px;
  }
  .file_progress .file_close{
    display: inline-block;
    margin-top: 16px;
    margin-right: -8px;
    width: 43px;
    height: 43px;
    display: inline-block;
    cursor: pointer;
    background: url('../img/ico_close.png') 0 0 no-repeat;
    background-size: 88%;
  } 
  .file_progress .file_close:hover{
    background: url('../img/ico_close_hover.png') 0 0 no-repeat;
    background-size: 88%;
  }
  .file_progress .file_close:active{
    background: url('../img/ico_close_active.png') 0 0 no-repeat;
    background-size: 88%;
  }

  .file_progress .file_error{
    line-height: 1;
    color: #d0021b;
    font-size: 14px;
  }
  .file_progress .file_error:before{
    content: '';
    background: url('../img/mobile/ico_stop.png') no-repeat center;
    width: 36px;
    height: 36px;
    background-size: 50%;
    display: inline-block;
  }

  .jq-file.disabled + .file-sidebar_right LABEL{
    color: #dd191d;
    margin-top: 28px;
    display: block;
  }

  /* /obratnaya_svyaz */   

  #footer .bottom_link {
    width: 600px;
  }
  
  #footer .bottom_link .cover {
    position:relative;
    top:0;
    left:0;
    border-bottom:1px solid #d0d0d0;
    height:60px;
    line-height:60px;
  }
  
  #footer .bottom_link EM {
    width:33.3%;
    display:inline-block;
    text-align:center;
  }
  
  #footer .bottom_link EM.first {
    text-align:left;
  } 
  
  #footer .bottom_link EM.last {
    text-align:right;
  } 
       

  #footer UL {
    width: 600px;
    font-size:110%;
  }
  
  #footer UL LI {
    height:75px;
  }  
  
  #footer LI.left {
    width:600px;   
  }
  
  #footer LI.right {
    width:55px; 
  }  

}  


/*Phone Portrait*/
@media (max-width:640px) {

  #menu_top_btn{
    width: 244px;
    right: -244px;
  }

  #header .menu{
    display: block;
  }

  #header .nav {
    width: 280px;
  }
  
  #header LI.col_2,
  #header .exit,
  #intro H2,
  #intro .enter_block SPAN {
    display:none;
  }
  
  

  /* Header top menu phone*/

  #menu_top_btn .menu {
    display:block;
    padding: 0 0 0 24px;
    position: absolute;
    top: 0;
    left: -100px; 
    font-size:115%;      
  }

  #menu_top_btn.opened .menu {
    display: none;
  }

  #menu_top_btn.opened a.exit{
    display: block;
    padding: 17px 0;
    left: 230px;
    z-index: 300;
    border-bottom: 1px solid #CDD1D4;
  }

  #menu_top_btn{
    behavior: url(PIE.htc);
    position: absolute;
    right: -244px;
    top: 0;
    padding: 0;
    background: white;
    border-radius: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 100;
    transition: all 0.1s ease;
    height: 100%;
    width: 244px;
  }

  .menu a.exit_phone{
    background: url('../img/mobile/ico_mobile_menu.png') 0 42% no-repeat; 
    background-size: 12px 12px;   
    position: relative;
    margin: 0;
    display: inline-block;
    padding: 12px 0px 16px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    z-index: 100;
  }

  #menu_top_btn .menu_side-rigth{
    position: absolute;
    left: 0;
    top: 0;
    width: 244px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 20px 10px 20px;
    margin: 50px 0 0;
    transition: left 0.1s ease;
  }

  #menu_top_btn.opened .menu_side-rigth{
    background-color: #fff;
    border-left: 1px solid #CDD1D4;
    height: 100%;
  }


  #menu_top_btn .menu_side-rigth li{
    display: block;
    width: 100%;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0px;
    padding-left: 28px;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }

  #menu_top_btn .menu_side-rigth li.ico_lk{ 
    background-position: 3px 0px;
    background-image: url(../img/ico_empty_photo.png);
  }

  #menu_top_btn .menu_side-rigth li.ico_contact{ 
    background-position: 2px 0px;
    background-image: url(../img/ico_cloud_dotted.png);
  }
  
  #menu_top_btn .menu_side-rigth li.ico_exit{ 
    background-position: 0px 0px;
    background-image: url(../img/ico_exit.png);
  }

  /* /Header top menu phone*/
  
  #header .logo {
    width: 100px;
    height:auto;
    margin:11px 0 0 0;
  } 
  
  #header .nav LI {
    height: 50px;
  }  
  
  #intro {
    padding:30px 0 0 0;
    background:#e1edf5 url('../img/mobile/mobile_intro_bg.png') 50% -460px no-repeat; 
    background-size: 761px 786px;  
    margin:0;   
  }        

  #intro .txt {
    font-size:90%;
    width: 285px;
  }
  

  #intro .enter_block .btn {
      margin:0 0 20px 0;
      width:100%;
  }  
  
  #intro .enter_block .enter_link {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #d0d0d0;
    color: #565656;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    line-height: 1em;
    margin: 0 0 30px; 
    width:100%;     
  } 
  
  #intro .enter_block .enter_link:hover {
    background:#f5f5f5;
  } 
  
  #intro .enter_block .enter_link:active {
    background:#e0e0e0;
  }     
  
  #intro .enter_block .enter_link B {
    height:50px;
    line-height:50px;    
  } 
  
  #intro .enter_block {
    margin:10px 0;
  }
  
  #content {
    padding: 25px 0 0 0;
    width: 320px;
  }      

  #content H2 {
    font-size:100%;
    width:285px;
  }
  
  #content .new_service LI DIV.cover {
    padding: 0 25px 0 55px;
    width: 205px;
  }
  
  #content .new_service LI DIV.cover DIV {
    min-height:75px;
    height: auto;
  }
  
  .new_service LI H3 {
    font:100% 'etelka_mediumregular';
  }
  
  #content .new_service LI P {
    font-size:85%;
    padding:0;
    margin:0 0 1.3em 0;
  }         
  
  #content .new_service LI IMG {
    top:15px;
    height:42px;
    width:41px;
  } 


  /* obratnaya_svyaz */

  #content .title.no-ico{
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
  
    padding-left: 20px;
    height: 36px;
}
  #content .title.no-ico h1{
    font-size: 1.125em;
  
    margin-top: 0;
}

  FORM .wrapper{
    margin: 0 0 8px 0;
  }
  FORM .wrapper.l_50{
    width: 100%;
  }

  #content .main FIELDSET{
    padding: 20px 0px 10px 20px;
    margin-bottom: 18px;
  }
  .obratnaya_svyaz FIELDSET H3{
    margin-bottom: 16px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.2em;
  }
  
  .obratnaya_svyaz{
    
  }

  INPUT.big{
    height: 38px;
  
    font-size: 12px;
    padding: 0 12px;
    margin-bottom: 6px;
}
  TEXTAREA{
    min-height: 88px;
  
    font-size: 12px;
    padding: 8px 10px;
}

  INPUT:focus,
  TEXTAREA:focus{
    behavior: url(PIE.htc);
    box-shadow: 0px 0px 0px 1px rgba(173, 222, 255, 1);
    border: 1px solid #addeff;
  }

  .jq-file{
    box-shadow: none;
    width: 53px;
    float: left;
  }
  .jq-file__name{
    display: none;
  }
  .jq-file__browse,
  .file-loader_square{
    width: 51px;
    height: 51px;
    position: relative;
    top: 0;
    right: 0;
    border: 1px solid #d0d0d0;
    padding: 0;
    background: transparent;
    display: inline-block;
  }
  .jq-file__browse{
    text-indent: -9999px;
  }
  .jq-file__browse:before{
    content: "";
    background: url('../img/mobile/ico_cross.png') no-repeat;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 17px;
    background-size: 100%;
    left: 17px;
  }
  .file-sidebar_right{
    margin-left: 62px;
    margin-top: 8px;
  }
  .file-sidebar_right LABEL{
    margin: 0;
    display: block;
  
    font-size: 14px;
}
  .file-sidebar_right .sub_txt{
    color: #A5AEB3;
    font-size: 12px;
    margin-top: 4px;
    font-weight: normal;
  }

  .file-loader_square{
    text-align: center;
    line-height: 53px;
    border-radius: 4px;
  }
  .file-loader_square img{
    width: 47px;
  }
  .file-loader_square .file_progress_line{
    width: 40px;
    height: 8px;
    border: 1px solid #eeeff0;
    vertical-align: bottom;
    display: inline-block;
    margin-bottom: 6px;
    border-radius: 5px;
    overflow: hidden;
  }
  .file-loader_square .file_progress_line span{
    background: #689f38;
    width: 40%;
    display: block;
    height: 10px;
    margin-top: -1px;
    border-radius: 5px;
  }

  .file_progress .file_name{
    display: inline-block;
    font-size: 14px;
    color: #74777F;
    width: 80%;
    margin-top: 20px;
    padding-bottom: 19px;
    max-width: 170px;
    overflow: hidden;
    white-space: nowrap;
  }
  .file_progress .file_name:before{
    content: "";
  }
  .file_progress .file_progress-cont{
    margin-left: 64px;
    border-bottom: 1px solid #cdd1d4;
    min-height: 53px;
    margin-bottom: -2px;
  }
  .file_progress .file_close{
    display: inline-block;
    margin-top: 16px;
    margin-right: 0px;
    width: 24px;
    height: 24px;
    display: inline-block;
    cursor: pointer;
    background: url('../img/ico_close.png') 0 0 no-repeat;
    background-size: 100%;
  } 
  .file_progress .file_close:hover{
    background: url('../img/ico_close_hover.png') 0 0 no-repeat;
    background-size: 100%;
  }
  .file_progress .file_close:active{
    background: url('../img/ico_close_active.png') 0 0 no-repeat;
    background-size: 100%;
  }

  .file_progress .file_error{
    line-height: 1;
    color: #d0021b;
    font-size: 10px;
  
    font-weight: bold;
    margin-top: 6px;
}
  .file_progress .file_error:before{
    content: '';
    background: url('../img/mobile/ico_stop.png') no-repeat center;
    width: 14px;
    height: 14px;
    background-size: 80%;
    display: inline-block;
  }

  .jq-file.disabled + .file-sidebar_right LABEL{
    color: #dd191d;
    margin-top: -6px;
    display: block;
  }
  .jq-file.disabled + .file-sidebar_right LABEL B{
    display: block;
  }

  .send_btn{
    margin-right: 20px;  
  }

  /* /obratnaya_svyaz */
  
  #footer .bottom_link {
    width: 285px;
  }
  
  #footer .bottom_link .cover {
    height: auto;
    line-height: 1em;
    padding:5px 0;
  }   
  
  #footer .bottom_link EM {
    text-align:left;
    width:100%;
    height:45px;
    line-height:45px;
  } 
  
  #footer .bottom_link EM.last {
    text-align: left;
  }     
  
  #footer UL {
    width: 285px;
  }
  
  #footer LI.left {
    padding:0 0 0 50px;
    background-size: 30px 36px;     
  }
  
  #footer LI.right {
    padding: 0 40px 0 0;
    background-size: 41px 34px;     
  }    
  
  #footer UL LI P {
    text-align:center;
    font-size:70%;
  }  
     
.test-css_git{

}
} 

